.SonicCheckbox_container {
  font-size: 1.6rem;
  margin: 0.2rem 0rem;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: fit-content;
}

.SonicCheckbox_container input {
  display: none;
}

.SonicCheckbox_container:has(input):before {
  content: "";
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.2rem;
  border: 1px solid var(--color-white);
}

.SonicCheckbox_container:has(input:checked):before {
  content: "";
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.2rem;
  background-color: var(--color-card);
  border: 1px solid var(--color-primary);
}

.SonicCheckbox_container:has(input:checked):after {
  content: "";
  font-weight: 900;
  display: block;
  position: absolute;
  left: 0.6rem;
  top: 0.2rem;
  width: 0.5rem;
  height: 1rem;
  border: solid var(--color-bg);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
