/* START TOOLTIP STYLES */
.SonicToolTip [tooltip] {
  position: relative; /* opinion 1 */
  font-family: var(--font-primary) !important;
}

/* Applies to all tooltips */
.SonicToolTip [tooltip]::before,
.SonicToolTip [tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 1.3rem; /* opinion 3 */
  font-family: var(--font-primary) !important;
  color: var(--color-white);
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
.SonicToolTip [tooltip]::before {
  content: "";
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
.SonicToolTip [tooltip]::after {
  content: attr(tooltip);
  text-align: center;
  min-width: 3em;
  padding: 1ch 1.5ch;
  border-radius: 0.3ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000;
  width: max-content;
  max-width: 35rem;
}

/* Make the tooltips respond to hover */
.SonicToolTip [tooltip]:hover::before,
.SonicToolTip [tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
.SonicToolTip [tooltip=""]::before,
.SonicToolTip [tooltip=""]::after {
  display: none !important;
}

/* FLOW: DOWN */
.SonicToolTip [tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
.SonicToolTip [tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
.SonicToolTip [tooltip][flow^="down"]::before,
.SonicToolTip [tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 1;
  }
}

/* FX All The Things */
.SonicToolTip [tooltip]:not([flow]):hover::before,
.SonicToolTip [tooltip]:not([flow]):hover::after,
.SonicToolTip [tooltip][flow^="down"]:hover::before,
.SonicToolTip [tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 0ms ease-out forwards;
}
