.login-ac-container-V2 {
  border: 0;
  margin: 3rem 0 0.5rem 0;
  display: inline-block;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  width: 100%;
  text-align: start;
}

.login-ac-container-V2 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-clip: content-box;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  background-color: #e7e6e7;
  cursor: pointer;
}

.login-ac-container-V2 input[type="checkbox"]:checked {
  background-color: var(--color-primary);
  border: 2px solid var(--color-white);
}

.login-ac-container-V2 input[type="checkbox"]:focus {
  outline: none !important;
}

.login-ac-container-V2 .login-ac-hr {
  border: 0;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.75);
}

.login-ac-container-V2 .login-ac-input {
  margin-right: 0.5em;
  height: 1.4rem;
  margin-top: 0;
  vertical-align: middle;
}

.login-ac-container-V2 .login-ac-anchor {
  font-size: 1.4rem;
}

.login-ac-container-V2 .login-ac-anchor-pp {
  color: var(--color-primary);
}

.login-ac-container-V2 .login-ac-pp {
  font-size: 1.2rem;
}

.login-ac-container-V2 .login-ac-p {
  vertical-align: middle;
  font-size: 1.4rem;
  display: inline-block;
}

.login-ac-container-V2 .hover-cursor:hover {
  cursor: pointer;
}

.login-ac-container-V2 .goForward-Section {
  font-size: 1.2rem;
  color: var(--color-primary);
  display: flex;
  align-items: center;
}

.login-ac-container-V2 .goForward-Section svg {
  font-size: 1.6rem !important;
  margin-left: 1rem;
}

.login-ac-container-V2 .goForward {
  color: var(--color-primary);
}

.login-ac-container-V2 .goForward-Section:hover {
  cursor: pointer;
}

.login-ac-container-V2 .goForward-Section:hover .goForward {
  text-decoration: underline;
}

.login-ac-container-V2 .goForward-Section:hover svg {
  animation-iteration-count: 1;
  animation: goForwardArrowAnimation 0.25s forwards ease-in-out;
}

@keyframes goForwardArrowAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(+30%);
  }
}
