.copyLinkBlock,
.validityBlock {
  padding: 15px 5px 5px 5px;
}

.copyLinkBlockHeader,
#validity-radio-group {
  padding: 10px;
  font-size: 20px;
}

.validLbl {
  display: block;
  padding: 0.5em;
  cursor: pointer;
  font-size: 18px;
  width: 45%;
  float: left;
}

.validLbl input {
  margin-right: 10px;
}

.copyLinkInputBox {
  font-size: 1.5rem;
  width: 100%;
  height: 22px;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  -webkit-appearance: none;
  display: block;
  float: left;
}

.copy-area {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 15px;
  /* position: absolute; */
  /* right: 0; */
}

.copyLinkBtn {
  height: 32px;
  padding: 0.5rem;
  font-size: 1.5rem;
  /* display: inline-flex; */
  margin: 0 10px;
  border-radius: 0 3px 3px 0;
  border: none;
  width: 100px;
  cursor: pointer;
  border-width: 0px 3px 0px 3px;
  background-color: var(--color-primary) !important;
  color: var(--color-white);
  box-shadow: 0px 0 3px 2px rgba(32, 33, 36, 0.8);
}

.copyLinkEmail {
  font-size: 1.5rem;
  padding: 0 5px;
}

.copyLinkEmailBlock {
  width: 100%;
  display: block;
  font-size: 2rem;
  padding: 5px 0;
}
.copyLinkBtnBlock {
  display: block;
  position: relative;
  /* height: 35px; */
}

.copyFeedback {
  display: block;
  position: absolute;
  background-color: gray;
  padding: 5px;
  top: 0;
  margin: auto;
  bottom: 0;
  height: 20px;
  right: 150px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.copyFadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.copyFadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
