.AddNewMemberCombinedModalTab_loader .lds-default {
  margin: 10px 10px -20px 10px !important;
}

.combinedUserTextBlock * {
  font-family: var(--font-primary) !important;
  font-size: 1.6rem !important;
  color: var(--color-white);
}
[id*="combinedUserList-option-"] {
  font-family: var(--font-primary) !important;
  font-size: 1.5rem !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}
.combinedUserTextBlock {
  border-radius: 25px;
  border: 1px solid var(--color-white);
  padding: 0px 20px;
  font-size: 16px;
  background-color: transparent;
  color: var(--color-white);
}

.combinedUserTextBlock .MuiChip-root.MuiAutocomplete-tag {
  background-color: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.errorBox {
  color: var(--color-error);
  font-style: italic;
  padding: 0;
  margin: 3px;
}

.combinedUserTextBlock .errorBox {
  margin-top: 10px;
}

.combinedUserTextBlock .input {
  width: auto;
  height: 40px;
  padding: 0.5rem;
  box-sizing: border-box;
  font: inherit;
  border-radius: 0.2rem;
  border: 0px solid #d4d5d6;
  color: #565656;
  -webkit-appearance: none;
  font-size: 2rem;
  display: inline-flex;
}

.combinedUserTextBlock .input:focus {
  border-color: cornflowerblue;
  outline: none;
}

.combinedUserTextBlock .input.has-error {
  border-color: #ff0000;
}

.combinedUserTextBlock .error {
  margin: 0;
  font-size: 11px;
  color: #ff0000;
}

.combinedUserTextBlock .tag-item {
  background-color: #d4d5d6;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 5px;
  height: 30px;
  padding: 0 4px 0 1rem;
  display: inline-flex;
  align-items: center;
  margin: 0 0.3rem 0.3rem 0;
  color: #565656;
}

.combinedUserTextBlock .tag-item > .button {
  background-color: var(--color-white);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font: inherit;
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listblock {
  display: none;
}
