.project_table_header {
  display: flex;
  color: var(--color-white);
  font-size: 15px;
  height: 50px;
  align-items: center;
  position: relative;
  /* top: 80px; */
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-card);
  /* z-index: 100; */
}

.project_table_header_item_container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.project_table_header_item_title {
  font-weight: 700;
  font-size: 16px;
  padding: 0 30px;
}

.arrow_container {
  cursor: pointer;
  display: flex;
}

.arrow_container svg {
  width: 16px;
  height: 16px;
}

.project_table_header .activeSort {
  fill: var(--color-white);
}
.project_table_header .disableSort {
  fill: #757575;
}
