.commentConfirmPop {
  position: absolute;
  bottom: 0;
  background-color: var(--color-card);
  left: 0;
  right: 0;
  padding: 10px;
  margin: auto;
  /* box-shadow: 0px -3px 2px rgba(121, 219, 131, 0.3);
    border: 2px solid var(--color-secondary);    */
  box-shadow: 0px -3px 2px rgba(255, 255, 255, 0.3);
  border: 2px solid grey;
  height: auto;
  color: var(--color-white);
  font-size: 1.4em;
  border-radius: 10px;
  display: none;
  line-height: normal;
}

.commentConfirmPopHolder {
  position: absolute;
  bottom: 0;
  width: 96%;
  margin: auto;
  left: 0;
  right: 0;
}

.commentConfirmPop p {
  margin: 10px;
}

.cc_boxL,
.cc_boxR {
  display: table-cell;
  vertical-align: middle;
}

#cc_check {
  margin-right: 1rem;
}

.cc_Btn {
  margin: 5px;
  width: 10rem;
  padding: 5px;
  border-radius: 0;
  position: relative;
  float: right;
  border: 2px solid var(--color-secondary);
  cursor: pointer;
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: 1.5rem;
}

.cc_BtnBox {
  /* width: 100%;position: relative;display: flex;align-items: center; */
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: 0.5em;
  padding: 0.3em 1em 0.5em 0.4em;
  display: table;
  width: 96%;
  margin-left: 5px;
}
