.used_in_video_container {
  background-color: var(--color-card);
  width: 100%;
  /* margin: 0 auto; */
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 50rem;
}

.used_in_video_container .cover_image,
.used_in_video_container .cover_image_skeleton {
  width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
  margin: 15px;
  border-radius: 10px;
}

.used_in_video_container .cover_image.default_usedin_img {
  object-fit: contain;
}

.used_in_video_container .cover_image_skeleton {
  background-color: var(--color-card-light);
}

.used_in_video_container .used_in_content {
  justify-self: flex-start;
  flex: 1;
  padding-right: 20px;
}

.used_in_video_container .used_in_title {
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--color-white);
  /* text-align: center; */
  margin: 10px 0 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none;
}

.used_in_video_container .used_in_title:hover {
  color: var(--color-primary);
}

.used_in_video_container .used_in_description {
  font-size: 1.4rem;
  /* text-align: center; */
  color: rgba(255, 255, 255, 0.7);
  margin: 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.used_in_video_container .used_in_url {
  font-size: 14px;
  /* text-align: center; */
  margin: 5px 0 10px;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--color-primary) !important;
}

.used_in_video_container .used_in_description p {
  margin: 0;
  padding: 0;
  color: var(--color-white) !important;
}

@media screen and (max-width: 800px) {
  /* .used_in_video_container .cover_image,
  .used_in_video_container .cover_image_skeleton {
    width: 85px;
    height: 85px;
  } */
  .used_in_video_container .used_in_title {
    font-size: 14px !important;
  }
  .used_in_video_container .used_in_description {
    font-size: 12px !important;
  }
  .used_in_video_container .used_in_url {
    font-size: 12px !important;
  }
}
