.sonic_icon_button {
  background-color: var(--color-primary);
  color: var(--color-text-primary) !important;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 30px;
  border-radius: 48px;
  padding: 5px 18px;
}

/* .sonic_icon_button svg {
  width: 30px !important;
  height: 20px !important;
} */

.sonic_icon_button:disabled {
  background-color: var(--color-hover-disable);
  cursor: not-allowed;
}

.sonic_icon_button.auth_btn {
  height: 48px;
  font-weight: bold;
}

.sonic_icon_button {
  fill: var(--color-text-primary) !important;
  /* stroke: var(--color-white); */
}
