.SSToggle_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-top: 40px;
}

.SSToggle_wrapper label {
  font-size: 16px;
  cursor: pointer;
}

.SSToggle_container .knobs,
.SSToggle_container .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.SSToggle_container {
  position: relative;
  top: 50%;
  width: 80px;
  height: 30px;
  overflow: hidden;
  border-radius: 40px;
  border: 1px solid var(--color-primary);
}

.SSToggle_container .checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.SSToggle_container .knobs {
  z-index: 2;
}

.SSToggle_container .layer {
  width: 100%;
  background-color: transparent;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 10 */
.SSToggle_container .knobs:before,
.SSToggle_container .knobs:after,
.SSToggle_container .knobs span {
  position: absolute;
  top: 2px;
  width: 30px;
  height: 8px;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 40px;
  transition: 0.3s ease all;
}

.SSToggle_container .knobs:before {
  content: "";
  left: calc(100% - 41px);
  background-color: var(--color-primary);
}

.SSToggle_container .knobs:after {
  content: "off";
  color: var(--color-white);
  top: -1px;
  right: 2px;
}

.SSToggle_container .knobs span {
  display: inline-block;
  left: 2px;
  color: var(--color-white);
  z-index: 1;
  top: -2px;
}

.SSToggle_container .checkbox:checked + .knobs span {
  color: var(--color-white);
}

.SSToggle_container .checkbox:checked + .knobs:before {
  left: 2.5px;
  background-color: var(--color-primary);
}

.SSToggle_container .checkbox:checked + .knobs:after {
  color: var(--color-white);
  top: -1px;
  right: 2px;
}

.SSToggle_container .checkbox:checked ~ .layer {
  background-color: transparent;
}
