.EditMasterAccordion {
  width: 100%;
}

.EditMasterAccordion_container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.EditMasterAccordion_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 15px 5px 5px;
}

.EditMasterAccordion_container_left {
  width: 40%;
}
.EditMasterAccordion_container_right {
  width: 40%;
}

.EditMasterAccordion .sonic_icon_button {
  background-color: transparent;
}

.MuiAccordionSummary-content,
.EditMasterAccordion_title {
  font-size: 2rem;
  color: var(--color-text-primary);
}

.TrackPage__container
  .TrackPage__wrapper
  .EditMasterAccordion_container
  .TrackPage__wrapper--edits
  .TrackPage__wrapper--headline--container {
  margin-top: 5px !important;
}

.TrackPage__container
  .TrackPage__wrapper
  .EditMasterAccordion_container
  .TrackPage__wrapper--edits
  .TrackPage__wrapper--headline--container
  h3 {
  font-size: 2rem !important;
  text-transform: capitalize !important;
  margin: 0.5rem 0 1.3rem !important;
  font-weight: 400 !important;
  color: var(--color-primary) !important;
}

.EditMasterAccordion_title {
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
}

.EditMasterAccordion_message {
  font-size: 1.6rem;
  color: var(--color-text-primary);
  margin: 2.5rem 2rem;
}

@media only screen and (max-width: 1600px) {
  .EditMasterAccordion_container_left {
    width: 45%;
  }
  .EditMasterAccordion_container_right {
    width: 45%;
  }
}

@media only screen and (max-width: 1000px) {
  .EditMasterAccordion_item {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .EditMasterAccordion_container {
    width: 100%;
  }
}
