.login_form_btn_container {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.V3AuthLayout .login_form_btn_container > * {
  width: calc(50% - 0.8rem) !important;
}

.Form_checkbox_container,
.Form_radio_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login_form_error_msg {
  margin: 8px 0 5px;
  font-size: 1.44rem;
  color: red;
  line-height: 14px;
}

.login_form .acceptTerms_error_msg {
  margin-top: -5px;
}

.login_form_btn_container .spinnerContainer .lds-default {
  margin: 0 !important;
  scale: 0.5 !important;
  width: 10px !important;
  height: 10px !important;
  top: -14px !important;
  left: -12px !important;
}

.login_form .login_password_input {
  position: relative;
}

.login_form .login_password_input .eye_icon {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.login_form .V3LoginForgotPasswordLinkWrapper {
  width: 100%;
  text-align: end;
}

.login_form .V3LoginForgotPasswordLink {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--color-white);
  font-weight: 500;
  width: fit-content !important;
  margin-bottom: 1.8rem !important;
  font-weight: 500 !important;
  position: relative;
  top: 0.8rem;
}

.V3AuthLayout .separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  color: var(--color-white);
  margin-bottom: 2rem;
}

.V3AuthLayout .separator::before,
.V3AuthLayout .separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--color-white);
}

.V3AuthLayout .separator:not(:empty)::before {
  margin-right: 2rem;
}

.V3AuthLayout .separator:not(:empty)::after {
  margin-left: 2rem;
}

.V3AuthLayout .login_form_btn_container {
  display: flex !important;
  gap: 1.5rem !important;
  flex-wrap: wrap;
}

/* .V3AuthLayout .login_form_btn_container > * {
  width: calc(50% - 0.8rem) !important;
} */

.V3AuthLayout .sonicButton.SSOButton {
  width: 100% !important;
}
