.SonicLogoVariationAccordion {
  width: 100%;
}

.SonicLogoVariationAccordion_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 15px 5px 5px;
}

.SonicLogoVariationAccordion_item {
  width: 40%;
}

.SonicLogoVariationAccordion_title {
  font-size: 2rem;
  color: var(--color-primary);
}

.SonicLogoVariationAccordion_title {
  margin-top: 0.5rem;
}

.SonicLogoVariationAccordion_message {
  font-size: 1.6rem;
  color: var(--color-white);
  padding-left: 2rem;
}

@media only screen and (max-width: 1600px) {
  .SonicLogoVariationAccordion_item {
    width: 45%;
  }
}

@media only screen and (max-width: 1000px) {
  .SonicLogoVariationAccordion_item {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .SonicLogoVariationAccordion_container {
    width: 100%;
  }
}
