.WebNavbar--anchor {
  color: var(--color-white);
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 20px;
  padding: 2rem 2.5rem;
  height: 100%;
  box-sizing: border-box;
  display: flex !important;
  align-items: var(--navbar-positon);
}

.MobileNavbar--anchor {
  color: var(--color-white);
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 0.75rem 1rem;
  height: 100%;
  box-sizing: border-box;
  display: flex !important;
  align-items: var(--navbar-positon);
}

.Navbar--anchor.navitem--active {
  box-shadow: inset 0 var(--nav-underline) 0 var(--color-primary);
}

.title-text {
  font-family: var(--font-primary);
}
.body-text {
  font-family: var(--font-primary);
}
.sub-text {
  font-family: var(--font-primary);
}

.paragraph {
  color: var(--color-white);
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.heading--1 {
  font-size: 48px;
  line-height: 50px;
  font-weight: 800;
  letter-spacing: 0.04em;

  color: var(--color-white);
}

.heading--2 {
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -1px;
  line-height: 1;

  color: var(--color-white);
}

.heading--3 {
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--color-white);
}

.main-title {
  font-weight: 400;
  margin-bottom: 2.4rem;
  font-size: 4.8rem;
  line-height: 5.6rem;
  font-family: var(--font-primary);
  color: var(--color-white);
  text-align: center;
}

.main-title-tsp {
  font-weight: 400;
  margin-bottom: 2.4rem;
  font-size: 4.8rem;
  font-family: var(--font-primary);
  color: var(--color-white);
  text-align: left;
}

.main-subtitle {
  font-weight: 400;
  font-size: 4rem;
}
