.assests-pie-chartContainer{
    background-color: var(--color-bg-light);
    border-radius: 5px;
    margin-bottom: 4rem;
}
.track-type-stack-bar{
       border-radius: 5px;
       background-color: var(--color-bg-light);
}
.monitor-normal-heading-container{
    display: flex;
    justify-content: space-between;
   
    align-items: center;
    color: var(--text-color);
    padding: 5px 0px;
    border-radius: 50px;
    margin: 10px 0px;
    /* min-height: 40px; */

}

.heading-normal-left-text {
    font-size: 1.1rem;
    font-weight: 500;
    white-space: nowrap; /* Prevents wrapping if space is tight */
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1; /* Allows it to shrink more than the date */
}

/* --- Right Text (Date/Custom Text) --- */
.heading-normal-right-text {
    font-size: 0.9rem;
    color: #b0b0b0; /* Slightly lighter color for secondary info */
    text-align: right;
    flex-shrink: 0; /* Prevents it from shrinking */
    margin-left: 20px;
    white-space: nowrap;
}
.total-usage-container{
    background-color: var(--color-bg-light);
    border-radius: 5px;
} 