@keyframes shake {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }

  50% {
    transform: scale(2);
    opacity: 1;
  }

  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.custIntroVideoDialogContainer {
  position: fixed;
  overflow: hidden;
  z-index: 1111111111111111 !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custIntroVideoDialogContainer .custIntroVideoDialogBg {
  max-width: 1280px;
  width: 95vw;
  height: 85%;
  max-height: 720px;
  position: absolute;
  z-index: 1111111111111112 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custIntroVideoDialogContainer .custIntroVideoDialog {
  padding: 20px 80px;
}

.custIntroVideoDialogContainer .custCloseVideoDialog {
  position: absolute;
  right: 0px;
  top: -45px;
  color: var(--color-white);
  font-size: 22px;
  cursor: pointer;
  width: 56px;
  height: 30px;
  background-color: var(--color-primary);
  border-radius: 30px;
  background-image: url(../../../static/closeIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.custIntroVideoDialogContainer .custIntroVideoDialogFadeBg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0) !important;
}

.custIntroVideoDialogContainer .main-subtitle {
  font-size: 4rem !important;
  line-height: 4.2rem !important;
}

.custIntroVideoDialogContainer .main-subtitle-Highlight {
  font-size: 4rem !important;
  line-height: 4.2rem !important;
  color: var(--color-primary) !important;
}

.custIntroVideoDialogContainer .main-subtitle-subtext {
  font-size: 2.5rem !important;
  line-height: 2.5rem !important;
  display: block !important;
  font-weight: normal !important;
  display: block !important;
  margin-bottom: 15px;
}

.custIntroVideoDialogContainer .titleSubHighlight {
  color: var(--color-primary) !important;
}

.custIntroVideoDialogContainer .main-title-tsp {
  z-index: 1111111111111112 !important;
  transform: scale(1.7);
  margin-bottom: 5rem;
  animation-name: shake;
  animation-duration: 3s;
}

.custIntroVideoDialogContainer #introvid {
  max-width: 1150px;
  width: 100%;
  display: block;
  border: 1px solid var(--color-white);
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
}
