.trackdetails-container{
  /* display: flex; */
}

.trackdetails-container .ProjectInfo_title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.trackdetails-container .openToAlter{
    /* border: 1px solid wheat; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
}

.trackdetails-container .openToAlter-option{
    /* border: 1px solid wheat; */
    display:flex;
    gap: 15px;
}

.trackdetails-container .openToAlter-option-A ,.openToAlter-option-B{
    display: flex;
    /* gap: 8px; */
    justify-content: center;
    align-items: center;
}

.trackdetails-container .sonic_file_input_container {
    margin: 25px 0px;
     
}

.trackdetails-container .openToAlter-option-A input[type="radio"] , .openToAlter-option-B input[type="radio"]{
    background-color: black;
    border: 1px solid white;
}

 .project-label {
  font-size: 14px;
  /* border: 1px solid white; */
}


 .uploaded-files-list {
  margin-top: 16px;
  width: 50%;
}

 .uploaded-files-title {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

 .uploaded-file-item {
  font-size: 14px;
  margin: 4px 0;
  color: var(--color-white);
}


.uploaded-file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 8px 14px;
  margin-bottom: 8px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}



.uploaded-file-item span:first-child {
  flex-grow: 1;
  word-break: break-all;
}

.uploaded-file-item span:last-child {
  font-weight: bold;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}


.file-error-message {
  color: #e63946;   /* red */
  font-size: 13px;
  margin-top: 6px;
}
