/* START TOOLTIP STYLES */
.WPPToolTip [tooltip] {
  position: relative; /* opinion 1 */
  font-family: var(--font-primary) !important;
}

/* Applies to all tooltips */
.WPPToolTip [tooltip]::before,
.WPPToolTip [tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 1.3rem; /* opinion 3 */
  font-family: var(--font-primary) !important;
  color: var(--color-white);
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
.WPPToolTip [tooltip]::before {
  content: "";
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
.WPPToolTip [tooltip]::after {
  content: attr(tooltip); /* magic! */

  /* most of the rest of this is opinion */
  /* font-family: Helvetica, sans-serif; */
  text-align: center;

  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 0.3ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
.WPPToolTip [tooltip]:hover::before,
.WPPToolTip [tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
.WPPToolTip [tooltip=""]::before,
.WPPToolTip [tooltip=""]::after {
  display: none !important;
}

/* FLOW: DOWN */
.WPPToolTip [tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
.WPPToolTip [tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
.WPPToolTip [tooltip][flow^="down"]::before,
.WPPToolTip [tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 1;
  }
}

/* FX All The Things */
.WPPToolTip [tooltip]:not([flow]):hover::before,
.WPPToolTip [tooltip]:not([flow]):hover::after,
.WPPToolTip [tooltip][flow^="down"]:hover::before,
.WPPToolTip [tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 0ms ease-out forwards;
}
