.SmartInputBox .smart-input-wrapper {
  position: relative;
  padding: 12px 16px;
  /* border: 1px solid #444; */
  border-radius: 40px;
  background-color: var(
    --color-default-card,
    var(--color-hover-disable)
  ) !important;
  color: var(--color-text-description);
  width: 100%;
  box-sizing: border-box;
  transition: border 0.3s ease;
  min-height: 54px;
  align-items: center;
  display: flex;
}
.SmartInputBox .smart-input-wrapper:focus-within {
  border: 1px solid var(--color-default-border);
}

.SmartInputBox .smart-input-wrapper.drag-active {
  border-color: var(--color-default-border);
  background-color: var(--color-default-card);
}

.SmartInputBox .smart-input-inner {
  position: relative;
  flex-grow: 1;
  width: 100%;
}

.SmartInputBox .custom_loader {
  scale: 0.5;
  position: absolute;
  right: -20px;
  top: -10px;
}

.SmartInputBox .custom_close {
  position: absolute;
  right: 65px;
  top: 16px;
}

.SmartInputBox .smart-textarea-contenteditable {
  min-height: 20px;
  line-height: 20px;
  padding: 0;
  overflow: hidden;
  resize: none;
  width: calc(100% - 90px);
  background: transparent;
  border: none;
  color: var(--color-text-primary, var(--color-default-border));
  font-size: 14px;
  outline: none;
  z-index: 2;
  position: relative;
}

.SmartInputBox .placeholder-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-text-description, var(--color-text-secondary));
  font-size: 14px;
  pointer-events: none;
  padding: 0;
  margin: 0;
  line-height: 20px;
  z-index: 1;
}

.SmartInputBox .highlighted-text {
  color: var(--color-texthighlight, var(--color-text-primary));
  /* fallback if CSS variable is missing */
  font-weight: bold;
}

.SmartInputBox .file-preview {
  margin-top: 10px;
  font-size: 13px;
  background: var(--color-hover-light);
  padding: 6px 10px;
  border-radius: 6px;
  display: inline-block;
  color: var(--color-text-secondary);
}

.SmartInputBox .right-buttons {
  position: absolute;
  top: 3px;
  /* right: 16px; */
  right: 0px;
  display: flex;
  gap: 8px;
}

.SmartInputBox .right-btn {
  background: transparent;
  color: var(--color-text-primary) !important;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px 6px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
  width: 50px;
}

.SmartInputBox .right-btn:hover {
  background: var(--color-hover-disable);
  border-radius: 50%;
}

.SmartInputBox .AISearchButtons {
  display: flex;
  background-color: var(--color-default-card);
  padding: 4px;
  border-radius: 40px;
  /* gap: 10px; */
  width: 334px;
  height: 49px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
}

.SmartInputBox .toggleBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 18px;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: var(--color-text-primary);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  height: 42px;
}

.SmartInputBox .toggleBtn .SimilarityIcon {
  width: 22px;
  height: 22px;
}
.SmartInputBox .selectedBtn {
  background-color: var(--color-default-card);
  color: var(--color-text-primary);
}

.SmartInputBox .added {
  position: relative;
  top: 0px;
}
.SmartInputBox .right-btn svg path {
  stroke: var(--color-text-primary) !important;
}
