.project_grid_item {
  background: var(--color-card);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--color-white);
  width: 217px;
  height: 158px;
  opacity: 1;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
  cursor: pointer;
  border: 1px solid transparent !important
}

.project_grid_item:hover {
  border: 1px solid var(--color-primary) !important
}

.project_grid_item .card-title {
  font-size: 14px;
  line-height: 20px;
}

/* .project_grid_item.card-icon {
  width: "20%";
  height: "80%";
  display: 'flex';
  flex-direction: "column";
  justify-content: 'center';
} */

.project_grid_item .card-assets {
  font-size: 14px;
  line-height: 100%;
}

.project_grid_item .card-updated {
  font-size: 10px;
  line-height: 100%;
}

/* .project_grid_Delete {
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
  pointer-events: all;
  font-size: 3em;
} */

.edit_delete_action_menu_icon {
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
  pointer-events: all;
  font-size: 3em;
}

.project_grid_Delete {
  cursor: pointer;
  pointer-events: all;
  font-size: 3em;
  margin-right: 1.1rem;
  width: 18px;
  height: 19px;
}

.edit_icon {
  margin-right: 1rem;
}

.project-grid-image {
  width: 75px;
  height: 75px;
}

.grid_archive_btn_container {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.project_grid_item .loading_cover_image {
  background-color: var(--color-secondary-shade2);
  width: 100%;
  height: 100%;
}

.project_grid_item .project_grid_asset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #393e44;
  color: var(--color-white);
  font-size: 16px;
  font-family: var(--font-primary-light);
  position: absolute;
  bottom: 0;
  left: 0;
}

.project_grid_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 42px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.project_grid_content .img_container {
  width: 75px;
  height: 75px;
  border-radius: 17px;
  overflow: hidden;
  background-color: var(--color-secondary-shade2);
}

.project_grid_content img {
  width: 75px;
  height: 75px;
  border-radius: 17px;
  object-fit: cover;
  transform: scale(1.05);
}

/* .project_grid_content img.imageLoading {
  display: none;
}

.project_grid_content img.imageLoaded {
  display: block !important;
} */

.project_grid_content .projectName_ellipsis_container {
  width: 200px;
  pointer-events: all;
}

.project_grid_content .projectName_ellipsis {
  display: -webkit-box;
  max-width: 100%;
  height: auto;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  padding: 0 15px;
}

.project_grid_content .projectName_ellipsis.Archive {
  cursor: auto;
}

.project_grid_content .projectName_ellipsis.My_Projects:hover {
  color: var(--color-primary);
}

#edit_delete_action_menu .MuiMenu-paper {
  background-color: var(--color-secondary) !important;
  font-size: 16px !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}

#edit_delete_action_menu .MuiMenu-paper .MuiMenuItem-root {
  font-size: 16px !important;
  color: var(--color-icon);
}

#edit_delete_action_menu .MuiMenu-paper .MuiDivider-root {
  background-color: #4d4d4d !important;
  width: 90% !important;
  margin: 0 auto;
}