.keycloack_login_form_btn_container .spinnerContainer .lds-default {
  margin: 0 !important;
  scale: 0.4 !important;
  width: 22px !important;
  height: 10px !important;
  top: -10px !important;
  left: -8px !important;
}

.KeycloakV3LoginV3_container .login_form_error_msg {
  margin: 8px 0 12px;
  font-size: 1.4rem;
  color: red;
}
