.no_filtered_data_text {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: var(--color-text-primary);
}

.project_spinner_container {
  width: 100%;
  text-align: center;
}

.page_content .page_project_field {
  overflow-y: auto;
  overflow-x: hidden;
  height: 350px;
  width: 100%;
}

.page_content .all_project_filter_option {
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0px;
}

.page_project_field .page_project_field_header {
  color: var(--color-white);
  display: flex;
}

.page_project_field .page_project_field_labels {
  display: flex;
  font-size: medium;
  gap: 80px;
}

.page_project_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
}

.all_project_filter_option .genreWrapper .rmsc.select_project_filter label.select-item::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  /* background-color: var(--color-bg); */
  border-radius: 2px;
  border: 1px solid var(--color-white);
  display: none;
}

.all_project_filter_option .genreWrapper .rmsc.select_project_filter label.select-item.selected::after {
  content: "";
  font-weight: 900;
  display: none;
  position: absolute;
  left: 6px;
  top: 10px;
  width: 5px;
  height: 10px;
  border: solid var(--color-white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.all_project_filter_option .genreWrapper .rmsc.select_project_filter .dropdown-content .panel-content {
  width: 168px;
  padding: 10px;
  border-radius: 20px;
  /* border: 1px solid var(--color-white); */
  font-size: 16px;
  background: var(--color-card);
  margin-left: 34px;
}

.rmsc.select_project_filter .dropdown-container,
.rmsc.select_project_filter .dropdown-content {
  background-color: transparent;
  border: none;
}

.rmsc.select_project_filter .dropdown-container:focus-within {
  border: none;
  outline: none;
  box-shadow: none;
}

.rmsc.select_project_filter .dropdown-heading {
  width: 100%;
  height: auto;
  padding: 0px 16px;
  gap: 2px;
  border-radius: 40px;
  /* border: 1px solid var(--color-white); */
  font-size: 1rem;
  cursor: pointer;
}

.rmsc.select_project_filter .dropdown-content .panel-content {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  /* border: 1px solid var(--color-white); */
  font-size: 16px;
  background: var(--color-card);
}

.rmsc.select_project_filter .search input {
  border: 1px solid var(--color-white);
  background-color: var(--color-bg);
  color: var(--color-white);
  border-radius: 10px;
  padding: 4px 45px 4px 8px;
  height: 25px;
  position: relative;
}

.rmsc.select_project_filter .search input:focus {
  background-color: var(--color-bg);
  color: var(--color-white);
}

.all_project_filter_option .rmsc * {
  box-sizing: content-box !important;
}

.rmsc.select_project_filter .search::after {
  content: "";
  /* background-image: url(../../../../static/common/search.svg); */
  width: 20px;
  height: 20px;
  position: absolute;
  right: 6px;
  top: 1px;
  scale: 0.8;
}

.rmsc.select_project_filter .search {
  border: none;
  margin-bottom: 10px;
}

.rmsc.select_project_filter .search .search-clear-button {
  right: 35px;
  scale: 0.9;
  width: 15px;
}

.rmsc.select_project_filter .select-item {
  padding: 8px 0;
}

.rmsc.select_project_filter .item-renderer {
  align-items: center;
  gap: 5px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  flex: 1;
}

.rmsc.select_project_filter.selectAll ul>label.select-item input[type="checkbox"] {
  position: relative;
}

.rmsc.select_project_filter.selectAll ul>label.select-item input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  background-color: var(--color-primary);
  border-radius: 2px;
  position: absolute;
  border: 1px solid var(--color-white);
}

.rmsc.select_project_filter.selectAll ul>label.select-item input[type="checkbox"]:checked:after {
  content: "";
  font-weight: 900;
  display: block;
  width: 7px;
  height: 3px;
  background-color: var(--color-bg);
  position: absolute;
  top: 5px;
  left: 3px;
}

.rmsc.select_project_filter.voiceOptions:not(.selectAll) .select-item input[type="checkbox"] {
  display: none;
}

.rmsc.select_project_filter.voiceOptions:not(.selectAll) .select-item .item-renderer span {
  padding-left: 4px;
}

/* .rmsc.select_project_filter .select-item.selected .item-renderer span {
  font-weight: bold;
} */

.rmsc.select_project_filter .select-item:hover,
.rmsc.select_project_filter .select-item.selected {
  background-color: transparent;
}

.rmsc.select_project_filter .select-item:hover span,
.rmsc.select_project_filter .select-item.selected span {
  color: var(--color-primary);
}

.rmsc.select_project_filter .clear-selected-button {
  display: none;
}

.rmsc.select_project_filter .dropdown-search-clear-icon {
  scale: 1.1;
}

.rmsc.select_project_filter svg {
  color: var(--color-white);
}

.rmsc.select_project_filter .item-renderer input {
  display: none;
  position: relative;
}

.rmsc.select_project_filter.selectAll .options>label.select-item:first-child input[type="checkbox"] {
  display: none;
}

.rmsc.select_project_filter .select-item {
  display: flex;
  gap: 8px;
  /* align-items: center; */
  padding: 8px 0;
  position: relative;
  /* text-transform: capitalize; */
}

.rmsc.select_project_filter .dropdown-heading-value span {
  color: var(--color-white);
  font-size: 1.4rem;
  text-transform: capitalize;
}

.rmsc.select_project_filter .dropdown-heading-value span {
  color: var(--color-white);
  font-size: 1.4rem;
  text-transform: capitalize;
}

/* css for all unchecked checkboxes */
.rmsc.select_project_filter label.select-item::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  /* background-color: var(--color-bg); */
  border-radius: 2px;
  border: 1px solid var(--color-white);
}

/* css for all checked checkboxes */
.rmsc.select_project_filter label.select-item.selected::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: var(--color-card);
  border-radius: 2px;
  border: 1px solid var(--color-primary);
}

.rmsc.select_project_filter label.select-item.selected::after {
  content: "";
  font-weight: 900;
  display: block;
  position: absolute;
  left: 6px;
  top: 10px;
  width: 5px;
  height: 10px;
  border: solid var(--color-white);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* css for "Select All" checked checkbox */
.rmsc.select_project_filter.selectAll .options>label.select-item.selected:first-child::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: var(--color-primary);
  border-radius: 2px;
  border: 1px solid var(--color-primary);
}

.rmsc.select_project_filter.selectAll .options>label.select-item.selected:first-child::after {
  content: "";
  font-weight: 900;
  display: block;
  width: 14px;
  height: 3px;
  background-color: var(--color-bg);
  border-radius: 4px;
  position: absolute;
  top: 16px;
  left: 3px;
  border: none;
  transform: none;
}

.rmsc.select_project_filter .dropdown-heading:has(.clear-selected-button) span,
.rmsc.select_project_filter .dropdown-heading:has(.clear-selected-button) .dropdown-heading-dropdown-arrow {
  color: var(--color-primary);
}