/* .projects_container {
  overflow-x: hidden;
  position: relative;
  overflow-y: auto;
  position: relative;
} */
.projects_container {
  overflow-x: hidden;
  height: 82vh;
  position: relative;
  top: -20px;
  overflow-y: hidden;
}
.project_loader {
  width: 100%;
  text-align: center;
}
