name: Deploy Sonic-Hub on Dev-Server

on:
  push:
    branches:
      - SH2-SS_frontend-Dev-deploy

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install dependencies (with legacy peer deps)
        run: npm ci --legacy-peer-deps

      # - name: Overwrite webpack config to fix legacy syntax
      #   run: |
      #     cp .github/patches/webpack.config.js node_modules/react-scripts/config/webpack.config.js
      #     echo "Patched webpack.config.js for optional chaining"

      - name: Build project with increased memory
        run: |
          export NODE_OPTIONS=--max_old_space_size=4096
          npm run build:staging_MusicBank_Taxonomy

      - name: Install sshpass and rsync
        run: sudo apt-get update && sudo apt-get install -y sshpass rsync

      - name: Deploy via custom shell script
        env:
          DEPLOY_SSH_USER: ${{ secrets.DEPLOY_SSH_USER }}
          DEPLOY_SSH_PASS: ${{ secrets.DEPLOY_SSH_PASS }}
          DEPLOY_SSH_HOST: ${{ secrets.DEPLOY_SSH_HOST }}
          DEPLOY_WORKING_DIR: ${{ secrets.DEPLOY_WORKING_DIR }}
        run: bash ./deploy.sh "${{ github.actor }}"
