.mntPopup {
    display: none;
    position: sticky;
    z-index: 1000001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

.popup-content {
    background-color: #fff;
    position: relative;
    display: block;
    color: #000;	
}

.popBL {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    margin: 5% auto;
    min-height: 120px;
}

.popBL p {
    margin: 10px;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
}

.popAL {
    margin: auto;
    width: auto;
    border-radius: 0;
    min-height: 75px;
    padding: 5px;
}

.popAL p {
    font-size: 15px;
    line-height: 18px;
    text-align: left;
    padding: 0 25px;
    margin: 10px;
}

.popBL .buttonOk {
    position: relative;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 40px;
    padding: 10px 20px;
    font-size: 18px;
    max-width: 170px;
    min-width: 145px;
    font-weight: bold;
    border-radius: 25px;
    background-color: var(--color-primary);
    float: right;
}

.popAL .buttonX {
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    line-height: 0;
}

.show {
    display: block;
}