.sonicspace .V3AuthLayout .brand_logo {
  width: auto !important;
  height: auto !important;
  max-height: 100% !important;
}

.sonicspace .sonicButton.filled svg {
  filter: invert(1) !important;
}

.sonicspace .navbar__container img {
  max-width: 50px !important;
}

.sonicspace .sonic_icon_button .MuiSvgIcon-root,
.sonicspace .MuiSnackbarContent-root .MuiSvgIcon-root {
  color: #000 !important;
}

.sonicspace .Comment_Icon svg {
  stroke: #000 !important;
  fill: #000 !important;
}

.sonicspace .SonicCheckbox_container:has(input:checked):after {
  border: solid var(--color-white) !important;
  border-width: 0 2px 2px 0 !important;
}

.sonicspace .sonic-rangeslider-wrapper .slideCtrLbl {
  color: #000 !important;
}

.sonicspace .browseV2_container .submitInput svg path {
  fill: #000 !important;
}
