.AIMusicGenerator_container {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-white);
  /* padding: 30px 10px; */
}

.AIMusicGenerator_container
  .sonic_file_input_container
  label[for="sonic_file_input"] {
  background-color: var(--color-white);
  color: var(--color-card);
}

.AIMusicGenerator_container .content {
  display: flex;
  gap: 20px;
}

.AIMusicGenerator_container .AISearch_Content {
  /* text-align: center; */
  /* margin: 0 auto 45px; */
  /* padding: 5px; */
  flex: 2.5;
  overflow-x: auto;
}

.AIMusicGenerator_container .Intro-text {
  text-align: center;
  max-width: 675px;
  padding: 0 20px;
  /* margin: calc(50vh - 150px) auto 45px; */
  margin: 250px auto 45px;
}

.AIMusicGenerator_container .Intro-text h1 {
  font-size: 24px;
  font-weight: 500;
}

.AIMusicGenerator_container .Intro-text .subtitle {
  font-size: 16px;
  margin: 35px auto 30px;
  font-weight: 700;
}

.AIMusicGenerator_container .Intro-text .option_selection_title {
  font-weight: 400;
  font-size: 16px;
}

.AIMusicGenerator_container .cards-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  flex: 1;
}

.AIMusicGenerator_container .card {
  background-color: var(--color-card);
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: 1px solid transparent;
}

.AIMusicGenerator_container .card.loading.not-active {
  pointer-events: none;
  cursor: not-allowed;
}

.AIMusicGenerator_container .card.not-active {
  opacity: 0.5;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
}

.AIMusicGenerator_container .card#video {
  cursor: not-allowed;
  pointer-events: none;
}

.AIMusicGenerator_container .card:hover {
  border: 1px solid var(--color-primary);
}

.AIMusicGenerator_container .card-icon {
  margin-bottom: 10px;
}

.AIMusicGenerator_container .card-icon svg {
  width: 35px;
  height: 35px;
}

.AIMusicGenerator_container .card-icon svg path {
  fill: var(--color-white);
}

.AIMusicGenerator_container .card.not-active .card-icon {
  margin-bottom: 0;
}

.AIMusicGenerator_container .card.not-active .card-icon svg {
  width: 24px;
  height: 24px;
}

.AIMusicGenerator_container .card h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
}

.AIMusicGenerator_container .card p {
  font-size: 14px;
  line-height: 1.5;
}
.AIMusicGenerator_container .card.card.not-active p {
  display: none;
}

.AIMusicGenerator_container .back-link {
  display: inline-flex;
  align-items: center;
  color: #9e9e9e;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.AIMusicGenerator_container .back-link svg {
  height: 16px;
  width: 16px;
  fill: #9e9e9e;
}

.AIMusicGenerator_container .cards-grid .video_upload_button {
  width: 100%;
  height: 40px;
}

@media only screen and (max-width: 1000px) {
  .AIMusicGenerator_container .cards-grid {
    width: 250px;
  }
}

@media only screen and (max-width: 1024px) {
  .AIMusicGenerator_container .AISearch_Content {
    flex: 1.5;
  }
}

.AIMusicGenerator_container .cmn_label {
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 1%;
  text-align: center;
  margin-top: 130px;
}
.AIMusicGenerator_container .commision_button,
.AIMusicGenerator_container .sonicButton.filled.commision_button {
  /* width: 418px; */
  width: 100%;
  height: 45px;
  gap: 10px;
  border-radius: 43px;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background-color: var(--color-white) !important;
  color: var(--color-bg) !important;
}
