.main_layout_wrapper .main_layout_container:has(.DocumentsPage__container__v2) {
  width: 97%;
  margin-left: 3%;
  position: relative;
}

.DocumentsPage__container__v2 {
  display: flex;
  gap: 6rem;
  margin-top: -33px;
  min-height: calc(100vh - 125px);
  overflow-y: auto;
}

.DocumentsPage__container__v2__Loading {
  width: 100%;
  text-align: center;
}

.DocumentsPage__container__v2 .DocumentsPage__navbar {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background: var(--color-bg);
}

.DocumentsPage__container__v2 .DocumentsPage__wrapper {
  grid-row: 2 / -1;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: grid;
}

.DocumentsPage__container__v2 .DocumentsPage__sidebar {
  box-sizing: border-box;
  height: 100%;
  background-color: var(--color-bg);
  flex: 1;
  padding-top: 64px;
}

.DocumentsPage__container__v2 .DocumentsPage__sidebar--list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.DocumentsPage__container__v2 .DocumentsPage__Item {
  color: var(--color-white);
  cursor: pointer;
  padding: 1.3rem 1.5rem 0.8em 1.5rem;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  font-size: 1.6rem;
  border-radius: 23px;
  margin: 0px 0px 10px 0px;
  background-color: transparent;
  border: 1px solid var(--color-white);
}

.DocumentsPage__container__v2 .DocumentsPage__Item p {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.6rem;
  font-weight: normal;
}

.DocumentsPage__container__v2 .DocumentsPage__content {
  flex: 3;
  padding: 0 6rem 4rem;
  background: var(--color-card);
  /* overflow: hidden !important; */
  padding-top: 64px;
}

.DocumentsPage__container__v2 .DocumentsPage__cards {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(28rem, 32rem)); */
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 5rem;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  margin: 0 !important;
  margin-bottom: 10px !important;
}

.DocumentsPage__container__v2 .DocumentsPage__cardsItem {
  width: 100%;
  flex: 1;
  /* overflow: hidden; */
  background-color: var(--color-bg);
  border-radius: 2rem;
}

.DocumentsPage__container__v2 .DocumentsPage__card {
  color: var(--color-white);
  border-radius: 30px;
  width: 100%;
  height: 100%;
}
.DocumentsPage__card #vButton {
  background-color: transparent;
  scale: 2;
}
.DocumentsPage__container__v2 .DocumentsPage__card .lazy-load-image-background {
  width: 100%;
  height: 100%;
}

.DocumentsPage__container__v2 .DocumentsPage__card__loader {
  width: 100% !important;
  height: 16rem;
  display: grid;
  place-content: center;
  object-fit: cover;
  background-color: transparent;
}

.DocumentsPage__container__v2 .DocumentsPage__card--img {
  width: 100% !important;
  height: 18rem !important;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  overflow: hidden;
}

.DocumentsPage__cardsItem:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #ffffff40;
  /* box-shadow: 0px 4px 4px 0px #00000040; */
}

.DocumentsPage__card--title,
.DocumentsPage__container__v2 .DocumentsPage__card--description {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DocumentsPage__container__v2 .DocumentsPage__content--noContent {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 1.6rem;
  text-align: center;
}

.DocumentsPage__container__v2 .DocumentsPage__content--loading {
  height: calc(100% - 10.8rem);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DocumentsPage__container__v2 .DocumentsPage__card--info {
  padding: 1.5rem 2rem;
}

.DocumentsPage__container__v2 .DocumentsPage__card--download {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.DocumentsPage__container__v2 .DocumentsPage__card--download-button {
  font-size: 1.3rem;
  color: var(--color-white);
  cursor: pointer;
  padding: 0.5rem 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.DocumentsPage__container__v2 .DocumentsPage__card--download-button span {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
}

.DocumentsPage__container__v2 .DocumentsPage__card--download-button span svg {
  position: relative;
  top: -2px;
}

#document_backButton_container {
  z-index: 1;
  position: absolute;
  top: 10px;
}
.DocumentsPage__container__v2 .DocumentsPage__card--download svg {
  width: 1.6rem;
  height: 1.6rem;
}

/* @media only screen and (min-width: 990px) and (max-width: 1150px) {
  .DocumentsPage__container__v2 .DocumentsPage__cards {
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    gap: 2.5rem;
  }
  .DocumentsPage__container__v2 .DocumentsPage__content {
    padding: 64px 6rem 2rem;
  }
} */

@media only screen and (max-width: 950px) {
  .DocumentsPage__container__v2 {
    min-height: calc(100vh - 95px);
  }
  #document_backButton_container {
    top: 28px;
    left: 4px;
  }
}
