.DocumentsPage__container {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  background-color: var(--color-bg);
  grid-template-rows: 10.8rem 1fr;
  grid-template-columns:
    30rem [full-start] minmax(6rem, 1fr) [center-start] repeat(
      9,
      [col-start] minmax(min-content, 24rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}

.DocumentsPage__container .DocumentsPage__navbar {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background: var(--color-black);
}

.DocumentsPage__container .DocumentsPage__wrapper {
  grid-row: 2 / -1;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: grid;
}

.DocumentsPage__container .DocumentsPage__sidebar {
  box-sizing: border-box;
  height: 100%;
  background-color: #04070e;
}

.DocumentsPage__container .DocumentsPage__sidebar--list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.DocumentsPage__container .DocumentsPage__Item {
  color: var(--color-white);
  cursor: pointer;
  padding: 1.8rem 1.8rem 1.8rem 1.8rem;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  font-size: 1.6rem;
  border-bottom: 1px dotted grey;
  border-top: 1px dotted grey;
}

.DocumentsPage__container .DocumentsPage__Item h4 {
  margin-bottom: 0;
}

.DocumentsPage__container .DocumentsPage__content {
  box-sizing: border-box;
  padding-bottom: 30px;
  position: relative;
  grid-row: 2 / -1;
  grid-column: 2/ -1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: var(--color-bg);
}

.DocumentsPage__container .DocumentsPage__cards {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  position: relative;

  max-width: calc(100% - 10rem);
  width: calc(100% - 10rem);
  padding-top: 5rem;
  margin: 0 auto;
}

.DocumentsPage__container ~ li:first-child:nth-last-child(1),
.DocumentsPage__container .DocumentsPage__cards {
  justify-content: flex-start;
}

.DocumentsPage__container .DocumentsPage__cardsItem {
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  width: 33.3333%;
  min-width: 350px;
}

.DocumentsPage__container .DocumentsPage__card {
  color: var(--color-white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  grid-row-gap: 3.5rem;
  height: 100%;
  background-color: hsl(180, 3%, 10%);
}

.DocumentsPage__container .DocumentsPage__card span {
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  z-index: 1;
}

.DocumentsPage__container .DocumentsPage__card--img {
  width: 100%;
  height: auto;
}

.DocumentsPage__container .DocumentsPage__card--img:hover {
  cursor: pointer;
}

.DocumentsPage__container .DocumentsPage__card--title {
  font-size: 1.6rem;
  padding: 1.25rem;
  transform: translateY(40%);
}

.DocumentsPage__container .DocumentsPage__card--description {
  grid-column: 1 / -1;
  box-sizing: border-box;
  justify-self: center;
  align-self: end;
  color: rgba(255, 255, 255, 0.7);
  width: 80%;
  font-size: 1.8rem;
  text-align: center;
  height: 100%;
  padding: 1.25rem;
  overflow-wrap: break-word;
}

.DocumentsPage__container .DocumentsPage__anchor {
  text-decoration: none !important;
  width: 100%;
}

.DocumentsPage__container .DocumentsPage__content--noContent {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 1.6rem;
  text-align: center;
}

.DocumentsPage__container .DocumentsPage__content--loading {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  height: calc(100% - 10.8rem);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1510px) {
  .DocumentsPage__container .DocumentsPage__cardsItem {
    width: 50%;
  }
  .DocumentsPage__container .DocumentsPage__cards {
    justify-content: flex-start;
  }
}
@media (max-width: 1200px) {
  .DocumentsPage__container .DocumentsPage__cardsItem {
    width: 100%;
  }
  .DocumentsPage__container .DocumentsPage__cards {
    justify-content: flex-start;
  }
}
