.SelectCompany_btnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 40px;
}

.select_company_page .brand_selection_btn.sonicButton {
  text-transform: none;
}

.select_company_page .brandList_container {
  /* width: 85%; */
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  margin: 2.5rem 0 0;
  /* flex-direction: column; */
  height: 400px;
  overflow-y: auto;
}

.select_company_page .headerText {
  margin: 0;
  font-size: 2.1rem;
}

.select_company_page .custom-datepicker {
  height: 45px;
  border-radius: 25px;
  border: 1px solid var(--color-white);
  padding: 0px 20px;
  font-size: 1.6rem;
  background-color: transparent;
  color: var(--color-white) !important;
  width: 100%;
  box-sizing: border-box;
}
.select_company_page .report_form_error,
.select_company_page .form_error {
  color: var(--color-error);
  padding: 10px 0px 5px;
  font-size: 14px;
  margin: 0;
}

.select_company_page .datePickerContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* .select_company_page .request-new-brand-access-dialog {
  width: 755px;
  height: 485px;
} */
.select_company_page .react-datepicker {
  scale: 0.8;
}

.select_company_page .SonicCheckbox_container {
  margin: 15px 0px 0px 155px;
}

.request-new-brand-access-dialog .MuiPaper-root.MuiDialog-paper {
  max-width: 755px;
  border-radius: 10px;
  padding: 25px 50px;
  width: 100%;
}

.select_company_page .react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
  width: 296px;
}

.select_company_page .SonicInputLabel {
  margin-top: 10px;
}
.select_company_page .ctk_btn.active-btn {
  background-color: var(--color-primary) !important;
  color: var(--color-bg) !important;
}
.select_company_page .react-datepicker__tab-loop .react-datepicker__triangle {
  display: none !important;
}
.select_company_page .react-datepicker-popper {
  z-index: 1;
  line-height: 0;
  margin-top: -35px;
}
.select_company_page .SonicModal_dialog-close.SonicModal_close_icon {
  display: none !important;
}
.select_company_page .SonicModal_title.boldFamily {
  text-align: left;
  margin: 0px 0px 20px -21px;
}
