.circular-reveal {
  width: 128px;
  height: 128px;

  overflow: hidden;
  cursor: pointer;
}
.circular-reveal:hover {
  cursor: pointer;
}

.circular-reveal img {
  width: 100%;
  height: auto;
}

.circular-reveal::after {
  content: " ";
  -webkit-filter: invert(100%);
  background-image: url("../static/more.svg");
  background-size: 100% 100%;
  position: absolute;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1),
    transform 0.2s cubic-bezier(0, 0, 0.3, 1);
  transform: rotate(10deg);
}

.circular-reveal:hover:after {
  opacity: 1;
  transform: rotate(0deg);
}
