.downloadBasketPage__container {
  width: 100%;
  position: relative;
  /* height: calc(100vh - 10.8rem); */
}

.downloadBasketPage__container .searchResuts__footer--text,
.downloadBasketPage__container .searchResuts__footer--text a {
  color: var(--color-footer);
}

.downloadBasketPage__container .searchResuts__footer {
  position: initial;
}

.downloadBasketPage__container .searchResuts__footer--text {
  margin: auto;
  max-width: 100vw;
  width: 88vw !important;
  display: block;
  bottom: 6px;
  position: absolute;
}

.downloadBasketPage__wrapper {
  display: block;
  width: 100%;
  margin: auto;
  /* padding-top: 20px; */
}
.downloadBasket_left {
  display: block;
  width: 0%;
  float: left;
}
.downloadBasket_right {
  display: block;
  width: 100%;
  float: right;
}

.downloadBasketPage__container .downloadBasket_outer_container {
  border: 1px solid var(--color-white);
  padding: 10px;
  border-radius: 20px;
  /* height: calc(100vh - 285px); */
  position: relative;
  top: 20px;
}
.downloadBasketPage__container .downloadBasket_inner_container {
  overflow-y: auto;
  padding-right: 25px;
  /* height: calc(100vh - 285px); */
  position: relative;
}

.main_layout_wrapper
  .main_layout_content.show_footer.show_disclaimer_text
  .downloadBasketPage__container
  .downloadBasket_outer_container,
.main_layout_wrapper
  .main_layout_content.show_footer.show_disclaimer_text
  .downloadBasketPage__container
  .downloadBasket_inner_container {
  height: calc(100vh - 280px);
}
.main_layout_wrapper
  .main_layout_content.show_footer.hide_disclaimer_text
  .downloadBasketPage__container
  .downloadBasket_outer_container,
.main_layout_wrapper
  .main_layout_content.show_footer.hide_disclaimer_text
  .downloadBasketPage__container
  .downloadBasket_inner_container {
  height: calc(100vh - 235px);
}
.main_layout_wrapper
  .main_layout_content.hide_footer
  .downloadBasketPage__container
  .downloadBasket_outer_container,
.main_layout_wrapper
  .main_layout_content.hide_footer
  .downloadBasketPage__container
  .downloadBasket_inner_container {
  height: calc(100vh - 195px);
}

.downloadBasketPage__container .searchRowImgLoader {
  position: static;
  background-color: transparent;
}

.downloadBasketPage__headerTextBox__container {
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downloadBasketPage__headerTextBox {
  font-size: 2.2rem;
  font-weight: normal;
  color: var(--color-white);
}

.downloadBasket_Empty {
  font-size: 2.2rem;
  font-weight: normal;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.downloadBasketPage__container .download_zip_button_wrapper {
  text-align: center;
}

.downloadBasketPage__container .download_zip_button,
.downloadBasketPage__container .removeBasketTrack {
  padding: 5px 12px;
  color: var(--color-white);
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.downloadBasketPage__container .download_zip_button {
  background-color: var(--color-primary);
}

.downloadBasketPage__container .removeBasketTrack {
  /* background-color: red; */
  background-color: var(--color-primary);
  padding: 4px 16px 11px 16px;
  border-radius: 30px !important;
  width: 24px !important;
  height: 15px !important;
}

.downloadBasketPage__container .removeBasketTrack .MuiSvgIcon-root {
  width: 22px !important;
  height: 22px !important;
  color: var(--color-white);
}
