/* 12 Coloumn GRID */
.container__browse {
  overflow-y: hidden;
  background-color: var(--color-bg);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 30vh 70vh;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      9,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}

.browse__header {
  grid-column: full-start / full-end;
  background-color: var(--color-bg);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-image: url(../static/browse_banner.jpg);
  background-size: cover;
  background-position-y: 41%;
  background-repeat: no-repeat;
  display: grid;
  /*  108px is for the Navbar  */
  grid-template-rows: 108px calc(100vh - 110px);
}

.trending {
  background-color: var(--color-bg) !important;
  grid-column: full-start / full-end;
  color: var(--color-white);
  grid-row: 2 / 3;

  padding: 0 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

@media only screen and (max-height: 1150px) {
  .trending {
    justify-content: flex-start !important;
  }
}

.custom_hr {
  background-image: -webkit-linear-gradient(
    left,
    var(--color-alternative),
    var(--color-green),
    var(--color-alternative)
  );
  height: 1px !important;
  border: none;
  outline: none;
  position: relative;
}

.navbar__grid {
  background-color: rgba(0, 0, 0, 0.5);
  grid-row: 1;
}
