.fallback__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  overflow: hidden;
}

.fallback__navbar {
  height: 108px;
}

.fallback_body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 108px);
}

.fallback_logo {
  width: 25rem;
  height: 25rem;
  object-fit: contain;
}
