/* 12 Coloumn GRID */
.SearchPage__container {
  display: grid;
  box-sizing: border-box;

  grid-template-rows: 100vh 100vh;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      9,
      [col-start] minmax(min-content, 24rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}

.SearchPage__search-section-wrapper {
  display: grid;
  box-sizing: border-box;
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  height: 100%;
  grid-template-rows: 10.8rem calc(100vh - 10.8rem);
  background-size: cover;
  background-position: center;
}

.SearchPage__navigation {
  background: var(--color-navbar);
  grid-row: 1;
}

.SearchPage__searchSection {
  display: flex;
  justify-content: center;
}

/* Latest Tracks Section */

.SearchPage__lastAdded-section-wrapper {
  background-color: var(--main-bg);
  grid-row: 2 /3;
  background-color: transparent;
  box-sizing: border-box;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: 1fr 5rem;
}

.SearchPage__lastAdded__heading-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.SearchPage__lastAdded__heading-wrapper h3 {
  font-size: 1.9rem;
  color: var(--color-white);
}

/* HomePage Footer */
.HomePageFooter__footer {
  height: min-content;
  min-height: 5rem;
  grid-row: 2 /3;
  grid-column: 1 / 3;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.HomePageFooter__footer--text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding-top: 0.04271em;
  padding-bottom: 0.19571em;
  margin: auto;
  display: inline-block;
}

.HomePageFooter__footer--text a {
  color: #999;
}

.HomePageFooter__footer--text span:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.container1 {
  height: 200px;
  width: 500px;
  position: absolute;
  background-color: aquamarine;
  z-index: 1;
  opacity: 0.8;
}
