.latestTracks__container {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(80%, 0.85fr);
  grid-gap: 5rem;
  justify-content: center;
  box-sizing: border-box;
}

.latestTracks__container div:last-child {
  border-bottom: none !important;
}

.latestTracks {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.LtTc {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row;
  height: 100%;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #2d2d2d !important;
}

.LtTc__cover {
  flex-basis: 30rem;
  height: 30rem;
  flex-grow: 0;
  flex-shrink: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LtTc_img_container img {
  border-radius: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.LtTc__container {
  padding: 0 0 0 4rem;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 30rem;
}

.LtTc__container h3 {
  color: var(--color-primary);
  margin-top: 0;
  font-size: 1.9rem;
  width: 100%;
}
.LtTc__container p {
  font-size: 1.6rem;
}

@media only screen and (max-width: 725px) {
  .LtTc {
    flex-direction: column;
  }
  .LtTc__cover {
    flex-basis: 20rem;
    width: 100%;
    height: 70%;

    flex-grow: 1;
    flex-shrink: 1;
  }

  .LtTc__container {
    padding: 0;
  }

  .LtTc__container h3 {
    text-align: center;
    font-size: 2.3rem;
  }

  .LtTc__container p {
    font-size: 1.8rem;
  }
}
