/* 12 Coloumn GRID 300px/30rem for Sidebar*/
.MyMusic__container {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-bg);
  display: grid;
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;

  grid-template-rows: 10.8rem calc(100% - 10.8rem);
  grid-template-columns:
    [full-start] 30rem [center-start] repeat(
      9,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}

.MyMusic__header {
  grid-column: full-start / full-end;
  background-size: cover;
  background-position: center;
  display: grid;
}

.MyMusic__navbar__grid {
  background: var(--color-navbar);
  grid-row: 1;
}

.MyMusic__SideBar {
  grid-column: full-start / center-start;
  grid-row: 2 / 3;
  box-sizing: border-box;
  color: var(--color-white);
  background-color: #04070e;
  word-wrap: break-word;
  position: relative;
}

.MyMusicSideBar__Item:nth-child(1) {
  border-top: 1px dotted grey;
}

.MyMusic__Wrapper {
  grid-column: 2 / 12 !important;
  grid-row: 2 / 3;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  color: var(--color-white);
  display: grid;
  position: relative;
  grid-template-rows:
    8rem repeat(7, minmax(10rem, 1fr))
    8rem;

  grid-template-columns:
    [full-start-content] minmax(0, 8rem) [center-start-content]
    minmax(40rem, 0.33333fr) minmax(80rem, 0.66666fr) minmax(40rem, auto)
    [center-end-content] minmax(0, 8rem) [full-end-content];
}

.MyMusic__Wrapper .MyMusic__Content--noPlaylist {
  justify-self: center;
  align-self: center;
  grid-row: 5 / 6;
  grid-column: 2 / 5;
}

/* START MY MUSIC CONTENT */

.MyMusicSideBar__Wrapper {
  overflow-y: auto;
  height: calc(100% - 7rem);
}

.MyMusic__Loading {
  grid-row: 5 / 6;
  grid-column: 3 / 4;
  justify-self: center;
  align-self: baseline;
}

.PlayListMembers__container {
  margin-bottom: auto;
  color: var(--color-white);
  display: flex;
  justify-content: center;
}

.CommentSection__container {
  position: sticky;
  position: -webkit-sticky;
  top: 8rem;
  height: 100%;
  grid-row: 2 / 9;
  grid-column: 4 / 5;
  margin-left: 12rem;
  max-width: 60rem;
  width: 50rem;
  display: grid;
  grid-template-rows: 4rem repeat(7, 1fr);
}

#Open_Comment_Section {
  position: absolute;
  box-sizing: border-box;
  right: 2.5rem; /* 2.5rem wrapper padding  */
  top: 10rem;
  font-size: 1.6rem;
  padding: 2rem;

  z-index: 200;
  background-color: var(--color-primary);
  transform: rotate(-90deg);
  transform-origin: center right;
  border: 1px solid black;
  box-sizing: border-box;
}

#Open_Comment_Section:hover {
  cursor: pointer;
}

#Close_Comment_Section:hover {
  cursor: pointer;
}

#Close_Comment_Section {
  color: var(--color-white);
  float: right;
  position: absolute;
  right: 0px;
  z-index: 200;
  width: 4rem;
  height: 4rem;
  box-sizing: border-box;
  background-color: var(--color-primary);
}

#stickyContainer {
  grid-column: 2 / 3;
  height: calc(100vh - 18.8rem); /*10.8rem navbar + 8rem Grid Border */
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  position: sticky;
  position: -webkit-sticky;
  top: 8rem;
  display: flex;
  flex-direction: column;
}

/* END MY MUSIC CONTENT */
/* START MOBILE VERSION*/

.MyMusic__Mobile__Wrapper {
  grid-column: center-start / full-end;
  grid-row: 2 / 3;

  color: var(--color-white);
  display: grid;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  overflow: hidden;
  grid-template-rows: min-content 2.5rem 1fr;

  grid-template-columns:
    [full-start-content] repeat(4, 25%)
    [full-end-content];
}

.PlayListTitleList__Mobile__container {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  width: 100%;
  height: 100%;

  position: relative;
}

.PlayListTitleList__Mobile__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.PlayListCoverPicture__Mobile__container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.PlaylistDescription__Mobile__container {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.PlaylistDescription__Mobile__container .PlaylistDescription__Name {
  font-size: 3.2rem;
}
.PlaylistDescription__Mobile__container .PlaylistDescription__Description {
  font-size: 2.8rem;
}

.PlayListMembers__Mobile__container {
  background-color: #04070e;
  border-bottom: 2px solid #b3b3b3;
  padding-bottom: 2.5rem;
  width: 100%;
}

.openMembers__Mobile {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

.MyMusic__Mobile__Wrapper .MyMusic__Content--noPlaylist {
  grid-row: 3 / 4;
  grid-column: 1 /5;

  transform: translateY(-50%);
  justify-self: center;
  align-self: center;
  font-size: 1.8rem;
}

@media (orientation: landscape) {
  .PlaylistDescription__Mobile__container {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

@media only screen and (max-width: 1575px) {
  .MyMusic__Wrapper {
    grid-template-columns:
      [full-start-content] minmax(0, 8rem) [center-start-content] minmax(
        32rem,
        0.33333fr
      )
      minmax(70rem, 0.66666fr) minmax(40rem, auto) [center-end-content] minmax(
        0,
        8rem
      )
      [full-end-content];
  }
  #TimeLineComponent {
    width: 100% !important;
  }
  #playlist_Item_Paper {
    width: 100%;
  }
}

@media only screen and (max-width: 1400px) {
  #playlist_Item_Paper {
    width: 80%;
  }
}

@media only screen and (max-width: 1250px) {
  #playlist_Item_Paper {
    width: 60%;
  }
}

@media only screen and (max-width: 1120px) {
  #playlist_Item_Paper {
    width: 50%;
  }
}

/* END MOBILE VERSION*/
