@media screen and (max-width: 2150px) {
  .CommentSection__container {
    margin-left: 5px;
    grid-template-rows: 4rem repeat(7, 1fr);
    width: 45rem;
  }
  .PlayListTitleList__container {
    margin-left: 2rem;
  }
  .PlaylistDescription__Wrapper {
    /* width: 28rem; */
  }
  .PlaylistDescription__Name {
    font-size: 2.6rem;
  }
  .PlayListMembers__wrapper {
    width: 31rem;
  }
  .PlayListCoverPicture {
    width: 25rem !important;
    height: 25rem !important;
  }
  .PlayListCoverPicture__Loading {
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (max-width: 1920px) {
  .CommentSection__container {
    height: 100%;
    overflow: hidden;
  }
  .PlayListCoverPicture {
    width: 25rem !important;
    height: 25rem !important;
  }
  .PlayListCoverPicture__Loading {
    width: 25rem;
    height: 25rem;
  }
  .PlaylistDescription__Wrapper {
    /* width: 27rem; */
  }
  .PlaylistDescription__Description--info {
    padding: 1px;
  }
  .PlayListMembers__wrapper {
    box-shadow: none;
  }
  .PlayListTitleList__Item .TrackCard__audio {
    margin-top: 0px;
  }
  .PlayListTitleList__Extra {
    margin-top: 0px;
  }
  #Open_Comment_Section {
    top: 10rem;
  }
  .CommentSections__newComment--wrapper {
    padding: 2rem;
  }
  .PlayListMembers__heading {
    font-size: 2rem;
  }
}
