.MyMusicSideBar__Item {
  color: var(--color-white);
  cursor: pointer;
  padding: 1.8rem 1.8rem 1.8rem 1.8rem;
  width: 100%;

  text-align: left;
  box-sizing: border-box;
  font-size: 1.6rem;

  border-bottom: 1px dotted grey;
}

.AddPlaylist {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  border-top: 1px solid #404040;
  border-bottom: none;
  z-index: 20;

  width: 30rem;
  position: absolute;
  bottom: 0px;
}

.AddPlaylist span {
  padding-left: 2rem;
}

.MyMusicSideBar__Item h4 {
  margin-bottom: 0;
}
