.PlaylistDescription__container {
  box-sizing: border-box;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.PlaylistDescription__Wrapper .PlaylistCoverImage--image svg,
.PlaylistDescription__Wrapper .PlaylistDescription__Name svg,
.PlaylistDescription__Wrapper .PlaylistDescription__Description svg {
  font-size: 24px !important;
}

.PlaylistDescription__Wrapper {
  margin: auto;
  word-wrap: break-word;
}

/* Playlist Name */
.PlaylistDescription__Name,
.PlaylistCoverImage {
  color: var(--color-white);
  box-sizing: content-box;
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  line-height: 3.6rem;
  letter-spacing: -0.005em;
  font-weight: 400;
  text-transform: none;
  position: relative;
}

.PlaylistDescription__Name--info,
.PlaylistCoverImage--info {
  text-align: center;
  width: 90%;
  padding: 0rem 1.5rem;
}

.PlaylistDescription__Name:hover .PlaylistDescription__Name--editIcon.sonic_icon_button,
.PlaylistCoverImage--image:hover .PlaylistCoverImage--editIcon.sonic_icon_button {
  display: block !important;
}

.PlaylistCoverImage--image:hover .PlaylistCoverImage--editIcon {
  padding: 0;
  background-color: transparent !important;
  right: 15px;
  bottom: 15px;
}

.PlaylistDescription__Name--editIcon.sonic_icon_button {
  display: none !important;
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 5;
  padding: 0;
  background-color: transparent !important;
}

.PlaylistCoverImage--editIcon svg {
  font-size: 30px;
}

.PlaylistCoverImage--editIcon.sonic_icon_button {
  display: none !important;
  position: absolute;
  right: 3rem;
  top: 27rem;
  z-index: 5;
}

.PlaylistDescription__Name--editIcon:hover,
.PlaylistCoverImage--editIcon:hover {
  cursor: pointer;
}

.PlaylistDescription__Name--textarea,
.PlaylistCoverImage--textarea {
  width: 95%;
  /* height: 12rem; */
  box-sizing: border-box;
  font-family: inherit;
  caret-color: var(--color-primary);
  border: var(--color-primary);
  letter-spacing: inherit;
  font-weight: inherit;
  font-size: 3.2rem;
  resize: none;
  background-color: transparent;
  color: var(--color-white);
  border: 0;
  outline: 0;
  text-align: center;
  overflow-x: hidden;
}

.PlaylistCoverImage.EditMode textarea {
  font-size: 1.6rem;
  margin-top: 10px;
}

.PlaylistCoverImage--textarea {
  font-size: 2rem;
  /* height: 35px; */
}

.PlaylistCoverImage--label {
  font-size: 2.2rem;
  text-align: center;
}

.PlaylistCoverImage {
  top: 10px;
}

.EditMode {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  background-color: var(--color-card);
  border: 1px solid #404040;
  margin-top: 15px !important;
  margin-bottom: 20px !important;
  border-radius: 15px;
}

.PlaylistDescription__Name--approveNewName,
.PlaylistCoverImage--approveNewName {
  /* width: 35%;
  margin-bottom: 0.5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0px auto;
}

.PlaylistCoverImage--approveNewName .sonicButton,
.PlaylistCoverImage--approveNewName .file-upload-wrapper {
  width: auto;
}

.PlaylistCoverImage--approveNewName ::-webkit-file-upload-button {
  cursor: pointer !important;
}

.PlaylistCoverImage--approveNewName .file-upload-wrapper {
  position: relative;
  width: 100%;
  height: 38px;
}

.PlaylistCoverImage--approveNewName .file-upload-wrapper:before {
  content: "Change";
  font-size: 16px;
  background-color: var(--color-primary);
  border-radius: 20px;
  padding: 0px 10px;
  border: none;
  color: var(--color-white);
  font-family: var(--font-primary) !important;
  cursor: pointer;
  display: block;
  text-align: center;
  height: 100%;
}

.PlaylistCoverImage--approveNewName .file-upload-wrapper:hover:before {
  background-color: var(--color-primary);
}

.PlaylistCoverImage--approveNewName .file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 30px;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
}

.PlaylistDescription__Name--approveNewName:hover,
.PlaylistCoverImage--approveNewName:hover {
  cursor: pointer;
}

/* DESCRIPTION */

.PlaylistDescription__Description {
  color: var(--color-white);
  box-sizing: content-box;
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 3.2rem;
  line-height: 3.6rem;
  letter-spacing: -0.005em;
  font-weight: 400;
  color: var(--color-white);
  text-transform: none;
  position: relative;
}

.PlaylistDescription__Description--info {
  width: 100%;
  padding: 0rem 2rem 0rem;
}

.PlaylistDescription__Description:hover .PlaylistDescription__Description--editIcon.sonic_icon_button {
  display: block !important;
}

.PlaylistDescription__Description:hover .AddedDescriptionBtn {
  display: none;
}

.PlaylistDescription__Description--editIcon.sonic_icon_button {
  display: none !important;
  position: absolute;
  right: 0;
  z-index: 5;
  top: -10px;
  padding: 0;
  background-color: transparent !important;
}

.PlaylistDescription__Description--editIcon:hover {
  cursor: pointer;
}

.DescriptionFont {
  font-size: 1.3rem;
  line-height: 1.9rem;
  letter-spacing: 0.015em;
  color: #b3b3b3;
  letter-spacing: 0.16em;
  color: var(--color-white);
  opacity: 0.5;
  text-align: center;
}

.PlaylistDescription__Description--textarea {
  width: 100%;
  height: 8rem;
  box-sizing: border-box;
  font-family: inherit;
  margin-top: 1rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: 0.015em;
  color: #b3b3b3;
  letter-spacing: 0.16em;
  opacity: 0.5;
  text-align: center;
  caret-color: var(--color-primary);
  resize: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  text-align: center;
  overflow-x: hidden;
}

.PlaylistDescription__Extra {
  padding: 1.5rem;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.PlaylistDescription__Description--approveNewName {
  width: 100%;
  margin-bottom: 1.5rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlaylistDescription__Description--approveNewName:hover {
  cursor: pointer;
}

/* DELETE PLAYLIST */

.PlaylistDescription__Extra--delete .sonic_icon_button {
  background-color: var(--color-card);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px 18px;
}


.PlaylistDescription__Extra--delete {
  padding-top: 0.8rem;
  /* transform: scale(2); */
}

.PlaylistDescription__Extra--delete:hover {
  cursor: pointer;
}

.PlaylistDescription__tabMenuSet {
  float: left;
  padding: 0 2px;
}

/* @media screen and (max-width: 1000px) {
  .PlaylistCoverImage--approveNewName .file-upload-wrapper:before {
    bottom: 3px;
  } 
} */