.scrollDown:hover {
  cursor: pointer;
}

.scrollDown span {
  position: absolute;
  bottom: 8%;
  color: var(--color-white);
  left: 50%;
  width: 3.8rem;
  height: 3.8rem;
  margin-left: -12px;
  border-left: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 2s infinite;
  animation: sdb05 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
