.search-container {
  position: relative;
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-right: 2rem;
}

.search-input {
  font-family: inherit;
  font-size: 2.6rem;
  color: var(--color-white);
  padding: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--search-input-radius);
  transition: all 0.2s;

  width: 50rem;
  min-width: 200px;

  caret-color: var(--color-white);
  margin-right: -5.2rem;

  border: 2.5px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset;
  transition: all 0.15s ease-in 0s, box-shadow 0.2s linear 0s;
}

.search-input:focus {
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.5);

  border-color: rgba(var(--search-input-color), 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(var(--search-input-color), 0.6);
  outline: 0 none;
}

.search-input:hover {
  border-color: rgba(var(--search-input-color), 0.5);
  outline: 0 none;
}

.MBLogo__container {
  width: 12.8rem;
  height: 12.8rem;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 23%;
  box-sizing: border-box;
}

.search-icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-white);
  transform: scale(1.2);
}

.browse-all {
  right: -5rem;
  position: absolute;

  transition: all 0.15s ease-in 0s;
}

.search-input:focus ~ .browse-all {
  right: -10rem;
  transform: scale(1.05);
}

@media (max-width: 1366px) {
  .browse-all {
    right: unset;
    bottom: -8rem;
  }
  .search-input:focus ~ .browse-all {
    right: unset;
    transform: scale(1.05);
  }
}
