.mb_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb_Dialog_Content {
  margin-top: -2%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mb_SubmitDownload_title {
  padding: 1.2rem 1.2rem 2.5rem !important;

  display: flex;
  justify-content: center;
  align-items: center;
}
.mb_h3 {
  font-size: 2.8rem;
  font-family: "DaimlerCS-Demi", Helvetica, Arial, sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 0;
  padding-bottom: 0.035em;
  margin-top: 1.06em;
}

.mb_h4 {
  font-size: 1.8rem;
  font-family: "DaimlerCS-Demi", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mb_padding {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.mb_SubmitDownload_form {
  margin: 2.5% 2.5% 0.5% 2.5%;
  width: 60%;
  height: 100%;
}

.mb_input_container {
  width: 100%;
  height: 6.5rem;
  margin: 0.5rem 0px 5px 0px;
  box-sizing: border-box;
}

.mb_input {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;

  font-size: 1.4rem;
  font-family: "DaimlerCS-Demi", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 0.00912em;
  padding-left: 1.4rem;
  padding-bottom: 0.15788em;
  background: var(--color-white);
  border-radius: 1px;
  border: 1px solid #999;
  color: #333;
  height: 3.5rem;

  outline: 0;
  float: left;
  width: 100%;
}

.mb_error {
  color: red;
}
