.TpTc__wrapper {
  padding: 10rem 10rem 4rem 10rem;
}

.TpTc__container {
  color: var(--color-white);
  box-sizing: border-box;
  background-color: transparent;
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(8, 21rem);
  grid-template-rows: repeat(5, 11rem) 14rem;
}

.TpTc__img {
  grid-column: 1 / span 2;
  grid-row: 1 / span 5;
}
.TpTc__title {
  grid-column: 1 / span 3;
  grid-row: 1;
  z-index: 2;

  position: relative;
}

.TpTc__title--btn {
  position: absolute;
  right: 50%;
  top: -3rem;
  max-width: 70%;
  min-width: 65%;
  transform: translate(50%);
  background-color: var(--color-primary);
  -webkit-box-shadow: inset 0 0 0 2px var(--color-primary);
  box-shadow: inset 0 0 0 2px var(--color-primary);
  border-radius: var(--border-radius-sm);
  color: var(--color-white);
  border: none;

  font-family: inherit;
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: 2rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}

.TpTc__tags {
  grid-column: 3 / span 5 !important;
  grid-row: 1 / span 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -2rem;
  margin-left: 12rem;
  color: var(--color-white);
}

.TpTc__player {
  grid-column: 1 / span 6;
  grid-row: 6 / 7;
}
.TpTc__downloads {
  grid-column: 8 / -1;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  position: relative;
}

.TpTc__downloads__container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.TpTc__downloads__container--button {
  flex-grow: 0;
  padding: 1rem 2.5rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: 0.015em;
  border-radius: var(--download-button-radius);

  background: rgba(24, 24, 24, 0.7);
  color: var(--font-primary-color);
  -webkit-box-shadow: inset 0 0 0 2px #b3b3b3;
  box-shadow: inset 0 0 0 2px #b3b3b3;
  border: 0;

  max-width: 22rem;
  width: 22rem;
  white-space: normal;
  margin: 2rem 0;
}
.TpTc__downloads__container--button--disabled {
  flex-grow: 0;
  padding: 1rem 2.5rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: 0.015em;
  border-radius: var(--download-button-radius);

  background: rgba(24, 24, 24, 0.7);
  color: var(--font-primary-color);
  -webkit-box-shadow: inset 0 0 0 2px #b3b3b3;
  box-shadow: inset 0 0 0 2px #b3b3b3;
  border: 0;

  max-width: 22rem;
  width: 22rem;
  margin: 2rem 0;
  white-space: normal;
}
.TpTc__downloads__container--button:hover {
  cursor: pointer;
}

.TpTc__img--holder {
  width: 40rem;
  height: 40rem;
  position: relative;
}
.TpTc__img--holderSpinner {
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-card);
}
.TpTc__img--holder img {
  width: 100%;
}

.TrackCard__item__tags--divider {
  margin: 0 !important;
  padding: 0 !important;
}

.TrackCard__item__tags--divider h4 {
  margin-bottom: 5px !important;
  padding: 0 !important;
}

.tctp__time {
  position: absolute;
  pointer-events: none;
  top: 60px;
  left: 1223px;
  z-index: 200;
  color: var(--color-white);
  font-size: 1.6rem;
}
.tctp__time_play {
  position: absolute;
  pointer-events: none;
  top: 60px;
  left: 30px;
  z-index: 200;
  color: var(--color-white);
  font-size: 1.6rem;
}

.TpTc__descriptionHolder {
  padding: 10px;
  background-color: #2c2f3794;
  height: calc(100% - 50px);
}

.TpTc__description {
  grid-column: 1 / span 4;
  grid-row: 5 / 6;
  margin-top: -10px;
}

.TpTc__description--quotes {
  quotes: "„ " "‚ ";
}

.TpTc__ckDescription * {
  margin-top: 3px;
  margin-bottom: 3px;
}

.TpTc__msg {
  grid-column: 1 / span 4;
  grid-row: 5 / 6;
  margin-top: -10px;

  position: absolute;
  bottom: 0;
}

.TpTc__msg span {
  display: inline-block !important;
  line-height: 1 !important;
  padding: 0.7rem 1rem !important;

  margin-bottom: 5px !important;
  margin-right: 5px !important;

  font-size: 1.6rem !important;
}

q::after {
  line-height: 0.1em;
  margin-left: 4px;
  vertical-align: -0.65em;
}
q::before {
  margin-right: 3px;
}

.TpTc__description--h4 {
  margin-block-start: 0;
  margin-block-end: 1.33em;
  margin-bottom: 10px;
}

.TpTc__description span {
  display: inline-block !important;
  line-height: 1.5 !important;
  padding: 0.7rem 1rem !important;

  margin-bottom: 5px !important;
  margin-right: 5px !important;

  font-size: 1.6rem !important;
}

.TpTc__img--addToPlaylist {
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index: 20;
}

.TrackCard__item__tags .TrackPage__item__tags_container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

@media only screen and (max-width: 1700px), screen and (max-height: 1200px) {
  .TpTc__wrapper {
    padding: 10rem 1rem 2.5rem 1rem;
  }
  .TpTc__tags {
    grid-column: 3 / span 5 !important;
  }
  .TpTc__container {
    grid-template-columns: repeat(7, 18rem);
    grid-template-rows: repeat(6, 11rem) 11rem;
  }
  .TpTc__player {
    grid-column: 1 / span 7;
    grid-row: 7 / 8;
  }
}

/*Mobile Version */
.EditTrackCard__Mobile {
  display: grid;
  box-sizing: border-box;

  max-width: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: min-content 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  padding: 2.5rem;
  margin-bottom: 0.8rem;
  background-color: var(--color-card);
}

.EditTrackCard__Mobile--left {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.EditTrackCard__Mobile__img {
  width: 18rem;
  height: 18rem;
}

.EditTrackCard__Mobile--middle {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  font-size: 1.6rem;
}

.EditTrackCard__Mobile--audio {
  grid-row: 2 / 3;
  grid-column: 1 / 3;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/*Mobile Version End */

/* new additions  */
.TpTc__container {
  display: block;
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.TpTc__img {
  float: left;
  margin-right: 50px;
  margin-bottom: 30px;
}
.TpTc__title {
  display: inline-block;
  position: absolute;
  left: 0px;
  max-width: 450px;
  width: 100%;
  margin-left: 60px;
}

.TpTc__tags {
  margin-left: 0px;
  margin-bottom: 30px;
}

.TpTc__description {
  margin-left: 0px !important;
  clear: both;
  display: flex;
}

.TpTc__descBlocks {
  border: solid 1px var(--color-card-light);
  width: 48%;
  display: block;
  margin: 5px;
  padding: 10px;
}

.TpTc__downloads__container {
  flex-direction: row !important;
  justify-content: space-between !important;
  height: unset !important;
  display: block;
}

.TpTc__downloads .TpTc__downloads__container div {
  display: inline-block;
}
