.TrackCard {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-width: 95rem;
  background-color: var(--color-card);

  color: var(--color-white);

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.356);
}

.TrackCard__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 14rem;
  height: auto;
  margin-top: 1.2rem;
}

.TrackCard__details {
  box-sizing: border-box;
  margin: 2rem;
  width: 100%;
  height: 100%;
}

.TrackCard__bar {
  width: 95%;
  height: 0.5rem;
  background-color: #0ebeff;
}

.TrackCard__artwork {
  width: 100%;
}

.TrackCard__title__container {
  display: flex;
  align-items: center;
  width: 95%;
}

.TrackCard__item__title {
  margin-top: 2rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-primary);
  margin-bottom: 0px !important;
}
.TrackCard__item__title:hover {
  color: var(--color-primary);
  cursor: pointer !important;
  /* text-decoration: underline; */
}

.EditTrackCard {
  display: flex;
  outline-offset: 0.8rem;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid #2d2d2d !important;
  border-top: 2px solid #2d2d2d !important;
  background-color: #2c2f37;
}

.EditTrackCard--left {
  padding-left: 25px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.EditTrackCard--middle {
  font-size: 1.6rem;
  padding-left: 2.5rem;
  padding-right: 1rem;
  flex: 1;
  max-width: 85rem;
  word-wrap: break-word;
}
.EditTrackCard--audio {
  padding-top: 2.5rem;
  padding-right: 1rem;
}

.EditTrackCard--middle:hover {
  cursor: default;
}
.EditTrackCard--left:hover {
  cursor: default;
}
.EditTrackCard--right {
  flex: 2;
}

.EditTrackCard__img {
  width: 10rem;
  height: 10rem;
}

/* .TrackCard__item__tags {
  display: block !important;
  width: 95% !important;
  padding-top: 0.5rem !important;

  flex-wrap: wrap !important;
  justify-content: flex-start !important;
  align-items: space-around !important;
  min-width: 95% !important;
} */

/* .TrackCard__item__tags span {
  display: inline-block !important;
  line-height: 1 !important;
  padding: 0.7rem 1rem !important;
  cursor: default;
  border: 1px solid #ccc !important;
  border-radius: var(--border-radius-sm) !important;
  margin-bottom: 0.5rem !important;
  margin-right: 0.5rem !important;
  font-size: 1.3rem !important;
} */

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.TrackCard__toggleTagsBtn {
  background-color: var(--color-trackcard-showall);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 1800px) {
  .EditTrackCard {
    display: grid;
  }
  .EditTrackCard--audio {
    position: absolute;
    right: 20.23rem;
  }
  .EditTrackCard--left {
    padding-top: 2.5rem;
  }
}

@media only screen and (max-width: 1700px) {
  .TpTc__downloads {
    grid-row: 6 /7 !important;
    grid-column: 1 / -5 !important;
  }

  .TpTc__downloads__container {
    flex-direction: row !important;
    justify-content: space-between !important;
    height: unset !important;
  }
  .TpTc__downloads__container--button {
    margin-right: 2rem !important;
    min-width: 19rem !important;
    width: 19rem !important;
  }
  .TpTc__description {
    margin-top: 0.5rem !important;

    margin-left: 20px !important;
    grid-column: 3 / span 4 !important;
    grid-row: 5 / 6 !important;
  }
}

/* Mobile Settings */

.TrackPage__Mobile__wrapper--edits {
  flex: 1 0;
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.TrackPage__Mobile__wrapper--headline--container {
  width: 20rem;
}

.TrackPage__Mobile__wrapper--edits--content {
  width: 100%;
}

.actionMenuSet {
  height: auto;
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#queue {
  background-color: transparent;
  font-size: 1.9rem;
  text-align: center;
  float: right;
  margin: 3px 0px;
  cursor: pointer;
  fill: currentColor;
  border: none;
  padding-left: 7%;
  color: var(--color-white);
}
