.TrackPage__container {
  box-sizing: border-box;
  display: grid;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;

  grid-template-rows: 10.8rem 1fr;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      9,
      [col-start] minmax(min-content, 24rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  color: var(--color-white) !important;
  background-color: var(--color-bg);
  overflow: hidden;
}

h4 {
  font-size: 1.6rem;
}
/* Start Mobile Version */
.TrackPage__Mobile__container {
  box-sizing: border-box;
  display: grid;
  position: relative;

  min-width: 100%;
  max-width: 100%;

  grid-template-rows: 10.8rem min-content;

  grid-template-columns:
    [full-start] 2.5rem [center-start] repeat(9, [col-start] 1fr [col-end])
    [center-end] 2.5rem [full-end];
  color: var(--color-white) !important;
  background-color: var(--color-bg);
  overflow: hidden;
}

.TrackPage__Mobile__wrapper {
  grid-column: full-start / full-end;
  grid-row: 2;
  padding-top: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  box-sizing: content-box;
  display: flex;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  flex-direction: column;

  background: var(--color-bg) !important;
}

.TpTc__Mobile__container {
  display: grid;
  grid-template-columns: min-content 1fr 1fr 1fr;
  grid-template-rows: min-content 6rem min-content;
  grid-gap: 2.5rem;

  align-content: center;
}

/* image */
.TpTc__Mobile__img {
  width: 30rem;
  height: 30rem;

  grid-column: 1 / 2;
  grid-row: 1 /2;
}
.TpTc__Mobile__img .TpTc__img--holder {
  width: 100%;
  height: 100%;
}

.TpTc__Mobile__img .TpTc__img--holderSpinner {
  width: 30rem;
  height: 30rem;
}

/*image end */
.TpTc__Mobile__title {
  grid-row: 1 /2;
  grid-column: 2 / 5;
}

.TpTc__Mobile__title--btn {
  transform: translateX(-15rem) translateY(-50%);
  width: 100%;
  background-color: var(--color-primary);
  -webkit-box-shadow: inset 0 0 0 2px var(--color-primary);
  box-shadow: inset 0 0 0 2px var(--color-primary);
  border-radius: var(--border-radius-sm);
  color: var(--color-white);
  border: none;

  font-family: inherit;
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: 2rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}

.TpTc__Mobile__tags {
  grid-column: 1 / 5;
  grid-row: 3 /4;
  border-bottom: 2px solid #b3b3b3;
}

/* .TpTc__Mobile__tags .TrackCard__item__tags {
  width: 100% !important;
  padding-bottom: 3rem !important;
  padding-top: 0rem !important;
  font-size: 1.6rem;
} */

.TpTc__Mobile__description {
  grid-row: 1 /2;
  grid-column: 2 / 5;
  padding-top: 5rem;
  width: 95%;
  font-size: 1.5rem;
}

.TpTc__Mobile__player {
  grid-column: 1 / 5;
  grid-row: 2 /3;
}

.TpTc__Mobile__downloads {
  grid-row: 1 /2;
  grid-column: 2 / 5;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 80%;
}

.TpTc__Mobile__downloads .TpTc__downloads__container--button {
  margin: 0;
}
.TpTc__Mobile__downloads .TpTc__downloads__container--button--disabled {
  margin: 0;
}

/* End Mobile Version */

.TrackPage__wrapper {
  grid-column: full-start / full-end;
  grid-row: 2;

  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  background: var(--color-bg) !important;
}

.TrackPage__wrapper--track {
  flex: 1;
  position: relative;
  margin: auto;
}

.TrackPage__wrapper--usedin {
  flex: 1;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.usedin--mobile--specs {
  position: relative;
  grid-row: 1 / 2;
}

.TrackPage__usedin--headline {
  width: 1680px;
  margin: auto;
}

.usedin--specs {
  margin-left: -100px;
  transform-origin: center left;
}

.TrackPage__wrapper--edits {
  margin: auto;
  flex: 1 1 100%;

  height: auto;
  align-items: stretch;
  align-content: stretch;
  min-height: fit-content; /*height or min-height both work */

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.TrackPage__wrapper--edits--content {
  width: 1680px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px 0px 100px;
  margin-bottom: 20px;
}

.TrackPage__wrapper--headline--container {
  width: 1680px;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: -200px;
  padding-bottom: 15px;
  transform-origin: center left;
}

.TrackPage__wrapper--headline {
  max-width: 270px;
  top: 0px;
  color: var(--color-white);
  border: none;
  transform-origin: center left;
}

.TrackPage__Mobile__wrapper--headline h3,
.TrackPage__wrapper--headline h3 {
  font-family: inherit;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-primary);
  box-shadow: inset 0 0 0 2px var(--color-primary);
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.TrackPage__footer {
  margin-top: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  min-height: 5rem;
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  min-height: 5rem;
  background-color: transparent;
  color: #999;
  justify-self: flex-end;
  text-align: center;
}
.TrackPage__footer--text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding-top: 0.04271em;
  padding-bottom: 0.19571em;
  display: inline-block;
}
.TrackPage__footer--text a {
  color: #999;
}

.TrackPage__footer--text span:hover {
  cursor: pointer;
  color: var(--color-primary);
}
/* Start Custom Code */
.TrackPage__container .navbar__container,
.TrackPage__Mobile__container .navbar__container {
  width: 100vw;
}
.TrackPage__container .TrackPage__wrapper,
.TrackPage__Mobile__container .TrackPage__Mobile__wrapper {
  display: block;
}
.TrackPage__container .TrackPage__wrapper--track .TpTc__wrapper,
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackPage__wrapper--track
  .TpTc__wrapper {
  padding: 60px 0px 0px 0px;
}
.TrackPage__container
  .TrackPage__wrapper--track
  .TpTc__wrapper
  .TpTc__container {
  display: block;
  max-width: 1600px;
  padding: 0px 10px;
}
.TrackPage__container .TrackPage__wrapper--edits,
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackPage__wrapper--edits {
  display: block !important;
  width: 100% !important;
}
.TrackPage__container .TrackPage__wrapper--headline--container {
  display: block !important;
  width: 100% !important;
  height: auto;
  margin: auto;
}
.TrackPage__container .TrackPage__wrapper--edits--content {
  display: block !important;
  width: 100% !important;
  padding: 0 !important;
}
.TrackPage__container .TpTc__title,
.TrackPage__Mobile__container .TpTc__title {
  top: 0px;
  left: 10px;
  max-width: 40rem;
  width: 100%;
  margin-left: 0px;
}
.TrackPage__Mobile__container .TpTc__title {
  left: 0px;
}
.TrackPage__container .TpTc__title--btn,
.TrackPage__Mobile__container .TpTc__title--btn {
  right: auto;
  top: 0px;
  left: 0px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 15px;
  font-size: 2rem;
  -webkit-transform: translate(0%);
  transform: translate(0%);
}
.TrackPage__container .TpTc__img--addToPlaylist,
.TrackPage__Mobile__container .TpTc__img--addToPlaylist {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  bottom: 5px;
  right: 10px;
}
.TrackPage__container .TpTc__img--addToPlaylist div,
.TrackPage__Mobile__container .TpTc__img--addToPlaylist div {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.TrackPage__container .TpTc__img--addToPlaylist div div,
.TrackPage__Mobile__container .TpTc__img--addToPlaylist div div {
  width: 40px;
  height: 40px;
  line-height: 40px;
  transform: none !important;
}
.TrackPage__container .TpTc__img--addToPlaylist div div .MuiSvgIcon-root,
.TrackPage__Mobile__container
  .TpTc__img--addToPlaylist
  div
  div
  .MuiSvgIcon-root {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.TrackPage__container .TpTc__tags {
  display: block;
  margin-top: -28px;
  width: 60%;
  float: left;
}
.TrackPage__container .TpTc__description,
.TrackPage__Mobile__container .TpTc__description {
  display: flex;
  width: 100%;
  clear: both;
}
.TrackPage__container .TpTc__container .TpTc__description .TpTc__descBlocks,
.TrackPage__Mobile__container
  .TpTc__container
  .TpTc__description
  .TpTc__descBlocks {
  float: left;
  display: block;
  width: 48%;
  padding: 10px;
  margin: 0px;
}
.TrackPage__container .TpTc__container .TpTc__downloads,
.TrackPage__Mobile__container .TpTc__container .TpTc__downloads {
  display: block;
  width: 100%;
}
.TrackPage__container
  .TpTc__container
  .TpTc__downloads__container
  div:first-child
  .TpTc__dl-btn,
.TrackPage__Mobile__container
  .TpTc__container
  .TpTc__downloads__container
  div:first-child
  .TpTc__dl-btn {
  margin-left: 0px;
}
.TrackPage__container .TpTc__container .TpTc__player .custom_hr,
.TrackPage__Mobile__container .TpTc__container .TpTc__player .custom_hr {
  margin: 0px 0px 20px 0px;
}
.TrackPage__container
  .TpTc__container
  .TpTc__player
  .TrackCard__player
  .TrackCard__audio_tctp,
.TrackPage__Mobile__container
  .TpTc__container
  .TpTc__player
  .TrackCard__player
  .TrackCard__audio_tctp {
  max-width: 1250px;
  width: 100%;
}
.TrackPage__container
  .TpTc__container
  .TpTc__player
  .TrackCard__player
  .TrackCard__audio_tctp
  #audioplayer_tctp,
.TrackPage__Mobile__container
  .TpTc__container
  .TpTc__player
  .TrackCard__player
  .TrackCard__audio_tctp
  #audioplayer_tctp {
  display: flex;
}
.TrackPage__container
  .TpTc__container
  .TpTc__player
  .TrackCard__player
  .TrackCard__audio_tctp
  #TimeLineComponent,
.TrackPage__Mobile__container
  .TpTc__container
  .TpTc__player
  .TrackCard__player
  .TrackCard__audio_tctp
  #TimeLineComponent {
  max-width: 1200px;
  width: 100% !important;
}
.TrackPage__container
  .TpTc__container
  .TpTc__player
  .TrackCard__player
  .TrackCard__audio_tctp
  .tctp__time,
.TrackPage__Mobile__container
  .TpTc__container
  .TpTc__player
  .TrackCard__player
  .TrackCard__audio_tctp
  .tctp__time {
  left: auto;
  right: 0;
}
.TrackPage__container .TrackPage__wrapper .TrackPage__wrapper--edits,
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackPage__Mobile__wrapper--edits {
  display: block !important;
  width: 100% !important;
  max-width: 1580px;
  padding: 0px 10px;
}
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackPage__Mobile__wrapper--edits {
  padding: 0px 0px;
}
.TrackPage__container
  .TrackPage__wrapper
  .TrackPage__wrapper--edits
  .TrackPage__wrapper--headline--container,
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackPage__Mobile__wrapper--edits
  .TrackPage__Mobile__wrapper--headline--container {
  margin-top: 50px;
}
.TrackPage__container
  .TrackPage__wrapper
  .TrackPage__wrapper--edits
  .TrackPage__wrapper--headline--container
  h3,
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackPage__Mobile__wrapper--edits
  .TrackPage__Mobile__wrapper--headline--container
  h3 {
  margin-bottom: 5px;
  font-weight: 500;
}
.TrackPage__container
  .TrackPage__wrapper
  .TrackCard__item__tags
  .TrackCard__item__tags--divider
  h4,
.TrackPage__container
  .TrackPage__wrapper
  .TpTc__description
  .TpTc__description--h4 {
  font-weight: 500;
  font-size: 20px;
}
.TrackPage__container
  .TrackPage__wrapper
  .MuiAccordionSummary-content
  .MuiTypography-body1 {
  font-weight: 500 !important;
  font-size: 2rem;
}
.TrackPage__container
  .TrackPage__wrapper
  .TrackPage__wrapper--edits--content
  .EditTrackCard {
  display: grid;
}
.TrackPage__container
  .TrackPage__wrapper
  .TrackPage__wrapper--edits--content
  .EditTrackCard
  .EditTrackCard--left {
  padding-top: 2.5rem;
}
.TrackPage__container
  .TrackPage__wrapper
  .TrackPage__wrapper--edits--content
  .EditTrackCard
  .EditTrackCard--middle
  h3 {
  font-weight: 500;
  font-size: 20px;
}

.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackPage__wrapper--edits--content {
  padding: 0px;
}
.TrackPage__container .TrackPage__wrapper .TrackPage__wrapper--usedin {
  display: block !important;
  width: 100% !important;
  max-width: 1580px;
  padding: 0px 10px;
  height: auto;
}
.TrackPage__container
  .TrackPage__wrapper
  .TrackPage__wrapper--usedin
  .TrackPage__usedin--headline
  h3 {
  margin-bottom: 5px;
  font-weight: 500;
}
.TrackPage__container
  .TrackPage__wrapper
  .TrackPage__wrapper--usedin
  .outer-web {
  padding-top: 15px;
  width: 100%;
}
.TrackPage__container
  .TrackPage__wrapper
  .TrackPage__wrapper--usedin
  .outer-web
  .video-card {
  display: block;
}
.TrackPage__container
  .TrackPage__wrapper
  .TrackPage__wrapper--usedin
  .outer-web
  .video-card
  .video-card--title {
  max-width: 100%;
}
.TrackPage__container
  .TrackPage__wrapper
  .TrackPage__wrapper--edits
  .TrackPage__wrapper--edits--content
  .EditTrackCard
  .EditTrackCard--audio {
  position: absolute;
  right: auto;
  left: 160px;
}
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackPage__wrapper--usedin {
  height: auto;
}
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackPage__wrapper--headline--container {
  margin-left: 0px;
}
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackCard__item__tags {
  padding-top: 0rem !important;
}
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackCard__item__tags
  .TrackCard__item__tags--divider:first-child
  h4 {
  margin-top: 0px;
}
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackCard__item__tags
  .TrackCard__item__tags--divider
  h4 {
  font-weight: 400;
  font-size: 18px;
}
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TpTc__description
  h4.TpTc__description--h4 {
  font-weight: 400;
  font-size: 18px;
}
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackPage__wrapper--edits
  .TrackPage__wrapper--headline
  h3 {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  margin: 50px 0px 5px 0px;
}
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackPage__wrapper--edits
  .TrackPage__wrapper--edits--content
  .moodProfileBlock
  p.MuiTypography-root {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}
.TrackPage__Mobile__container
  .TrackPage__Mobile__wrapper
  .TrackPage__wrapper--usedin
  .TrackPage__wrapper--headline
  h3 {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px 0px 20px 0px;
}
@media only screen and (max-width: 1600px) {
  .TrackPage__container
    .TrackPage__wrapper--track
    .TpTc__wrapper
    .TpTc__container {
    max-width: 1400px;
    padding: 0px 10px;
  }
  .TrackPage__container .TrackPage__wrapper .TrackPage__wrapper--edits {
    width: 100% !important;
    max-width: 1380px;
    padding: 0px 10px;
  }
  .TrackPage__container .TrackPage__wrapper .TrackPage__wrapper--usedin {
    width: 100% !important;
    max-width: 1380px;
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 1450px) {
  .TrackPage__container
    .TrackPage__wrapper--track
    .TpTc__wrapper
    .TpTc__container {
    padding: 0px 20px;
  }

  .TrackPage__container .TpTc__title {
    left: 20px;
  }

  .TrackPage__wrapper--headline--container {
    max-width: 1600px;
    width: 100%;
    margin: auto;
    position: relative;
  }
  .TrackPage__wrapper--headline--container .TrackPage__wrapper--headline h3 {
    margin-left: 20px;
  }
  .TrackPage__container .TrackPage__wrapper--edits--content {
    max-width: 1600px;
    width: 100%;
    margin: auto;
  }
  .TrackPage__container
    .TrackPage__wrapper
    .TrackPage__wrapper--edits--content
    .EditTrackCard {
    display: block;
    margin: 0px 30px 0px 20px;
    width: auto;
  }

  .TrackPage__container
    .TrackPage__wrapper
    .TrackPage__wrapper--edits
    .TrackPage__wrapper--edits--content
    .EditTrackCard
    .EditTrackCard--audio {
    top: 68px;
  }

  .TrackPage__container .EditTrackCard--middle {
    max-width: 1600px;
    width: 96%;
    margin: 0px;
  }
}
@media only screen and (max-width: 1200px) {
  .TrackPage__container .TpTc__tags {
    width: 50%;
  }
}

/* End Custom Code */
@media only screen and (max-width: 1800px), screen and (max-height: 1200px) {
  .TrackPage__wrapper--edits--content {
    width: 1400px;
    padding: 0px 10px 0px 10px;
  }
  .TrackPage__wrapper--headline--container {
    margin-left: 0px;
    width: 1400px;
  }
  .TrackPage__usedin--headline {
    margin: unset;
  }
  .outer-web {
    width: 100vw;
    padding: 0px 100px 0px 100px;
    box-sizing: border-box;
  }
  .usedin--specs {
    margin-left: 0px;
  }
  .TrackPage__wrapper--edits {
    grid-row: 2;
  }
}

@media only screen and (min-width: 1801px), screen and (min-height: 1201px) {
  .TrackPage__wrapper--edits--content {
    width: 1680px;
    padding: 0px 100px 0px 100px;
  }
  .TrackPage__wrapper--headline--container {
    margin-left: -200px;
    width: 1680px;
  }
  .TrackPage__wrapper--edits {
    grid-row: 2;
  }
}

@media only screen and (max-width: 950px) {
  .TrackPage__footer--text {
    font-size: 1.4rem;
    margin: auto;
  }
}
@media only screen and (max-width: 550px) {
  .TrackPage__footer--text {
    font-size: 1.2rem;
    margin: auto;
  }
}
