.track-slide-show-item-loading {
  width: var(--picture-size);
  height: var(--picture-size);
  text-align: center;
}

.track-slide-show-item {
  text-align: center;
  text-decoration: none !important;
  outline: none !important;
  color: var(--color-white);
}

.track-slide-show-item img {
  width: var(--picture-size);
  height: var(--picture-size);
  transform: scale(1.04);
  object-fit: cover;
}

.track-slide-show-item-title {
  width: var(--picture-size);
}

.track-slide-show-item-fallback {
  width: var(--picture-size);
  height: var(--picture-size);
  text-align: center;
}

.track-slide-show-item-content {
  position: relative;
  font-size: 1.3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.track-slide-show-item-content p {
  max-width: 19rem;
}

.track-slide-show-item-content:hover {
  filter: grey;
  -webkit-filter: grayscale(50%);
}

.track-slide-show-item-content:after {
  position: absolute;
  content: " ";
  -webkit-filter: invert(100%);
  background-image: url("../../../static/more.svg");
  background-size: 100% 85%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1),
    transform 0.2s cubic-bezier(0, 0, 0.3, 1);
  transform: rotate(10deg);
}

.track-slide-show-item-content:hover:after {
  opacity: 0.9;
  transform: rotate(0deg);
}

.trackslider_image {
  height: var(--picture-size);
  width: var(--picture-size);
}

.slider-recentlyAdded .lazy-load-image-background {
  height: var(--picture-size);
  width: var(--picture-size);
  background-color: var(--color-card);
}
