.sonic_file_input_container {
  display: flex !important;
  align-items: center !important;
  /* margin-top: 15px !important; */
  width: 100% !important;
}

.sonic_file_input_container #remove_sonic_file {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sonic_file_input_container #remove_sonic_file svg {
  stroke: var(--color-white);
}

.sonic_file_input_container label[for="sonic_file_input"] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  color: var(--color-white);
  box-sizing: border-box;
  font-size: 1.6rem;
}

.sonic_file_input_container input[type="file"] {
  display: none;
}

.sonic_file_input_container.filled label[for="sonic_file_input"] {
  background-color: var(--color-white);
  color: var(--color-card);
}

.sonic_file_input_container.filled label[for="sonic_file_input"] svg * {
  fill: var(--color-card);
}
