.sonic_icon_button[icon="Help"] {
  background-color: transparent;
  padding: 0;
  width: fit-content;
}

.sonic_icon_button[icon="Help"] svg {
  stroke: var(--color-text-primary);
}

.WebNavbar--anchor.activeNavlink .sonic_icon_button[icon="Help"] svg {
  stroke: var(--color-text-primary);
}
