.searchResuts__container .TrackCard {
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-width: 95rem;
  background-color: var(--color-card);
  color: var(--color-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.356);
  border-radius: 19px;
  margin-bottom: 15px;
}

.searchResuts__container .TrackCard .favBtn {
  font-size: 30px;
  position: relative;
  fill: var(--color-white);
  cursor: pointer;
}

.searchResuts__container .TrackCard__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 14rem;
  height: auto;
  margin-top: 1.2rem;
}

.searchResuts__container.searchResuts__container .TrackCard__details {
  box-sizing: border-box;
  margin: 2rem;
  width: 100%;
  height: 100%;
}

.searchResuts__container .TrackCard__bar {
  width: 95%;
  height: 0.5rem;
  background-color: #0ebeff;
}

.searchResuts__container .TrackCard__artwork {
  width: 100%;
}

.searchResuts__container .TrackCard__title__container {
  display: flex;
  align-items: center;
  width: 98%;
}

.searchResuts__container .TrackCard__item__title {
  margin-top: 0rem !important;
  width: 100%;
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-white);
}
.searchResuts__container .TrackCard__item__title span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.searchResuts__container .TrackCard__item__title:hover {
  color: var(--color-primary);
  cursor: default;
  /* text-decoration: underline; */
}

.searchResuts__container .EditTrackCard {
  display: flex;
  outline-offset: 0.8rem;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid #2d2d2d !important;
  border-top: 2px solid #2d2d2d !important;
  background-color: #2c2f37;
}

.searchResuts__container .EditTrackCard--first {
}
.searchResuts__container .EditTrackCard--left {
  padding-left: 25px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.searchResuts__container .EditTrackCard--middle {
  font-size: 1.6rem;
  padding-left: 2.5rem;
  padding-right: 1rem;
  flex: 1;
  max-width: 85rem;
  word-wrap: break-word;
}
.searchResuts__container .EditTrackCard--audio {
  padding-top: 2.5rem;
  padding-right: 1rem;
}

.searchResuts__container .EditTrackCard--middle:hover {
  cursor: default;
}
.searchResuts__container .EditTrackCard--left:hover {
  cursor: default;
}
.searchResuts__container .EditTrackCard--right {
  flex: 2;
}

.searchResuts__container .EditTrackCard__img {
  width: 10rem;
  height: 10rem;
}

.searchResuts__container .TrackCard__item__icons {
}

.searchResuts__container .TrackCard__item__tags {
  padding-left: 135px;
  width: calc(100% - 135px) !important;
  padding-bottom: 10px;
}

.searchResuts__container .TrackCard__info {
  width: 100%;
}
/* 
.searchResuts__container .TrackCard__item__tags span {
  display: inline-block !important;
  line-height: 1 !important;
  padding: 0.7rem 1rem !important;
  cursor: default;
  border: 1px solid #ccc !important;
  border-radius: 18px !important;
  margin-bottom: 0.5rem !important;
  margin-right: 0.5rem !important;
  font-size: 1.3rem !important;
} */

.TrackCard__item__tags--divider .Trackcard__item__tags_container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.Trackcard__item__tags--divider h4 {
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 400;
  margin: 20px 0;
}

.searchResuts__container .TrackCard__item__tags .taxonomy__tags_container span {
  text-transform: capitalize;
  color: var(--color-white) !important;
  border: none !important;
}

.searchResuts__container
  .TrackCard__item__tags
  .taxonomy__tags_container
  span.tag_amp_allmood_ids {
  background-color: var(--color-bubbletag-amp_allmood_ids-bg) !important;
  color: var(--color-bubbletag-amp_mainmood_ids-text) !important;
}
.searchResuts__container
  .TrackCard__item__tags
  .taxonomy__tags_container
  span.tag_soniclogo_allmood_ids {
  background-color: var(--color-bubbletag-soniclogo_mainmood_ids-bg) !important;
  color: var(--color-bubbletag-soniclogo_mainmood_ids-text) !important;
}
.searchResuts__container
  .TrackCard__item__tags
  .taxonomy__tags_container
  span.tag_genre {
  background-color: var(--color-bubbletag-genre-bg) !important;
  color: var(--color-bubbletag-genre-text) !important;
}
.searchResuts__container
  .TrackCard__item__tags
  .taxonomy__tags_container
  span.tag_tempo {
  background-color: var(--color-bubbletag-tempo-bg) !important;
  color: var(--color-bubbletag-tempo-text) !important;
}
.searchResuts__container
  .TrackCard__item__tags
  .taxonomy__tags_container
  span.tag_key {
  background-color: var(--color-bubbletag-key-bg) !important;
  text-transform: lowercase;
}

.searchResuts__container
  .TrackCard__item__tags
  .taxonomy__tags_container
  span.instrument_ids {
  background-color: var(--color-bubbletag-instrument-bg) !important;
  color: var(--color-white) !important;
}

.searchResuts__container .fade-enter {
  opacity: 0.01;
}
.searchResuts__container .fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.searchResuts__container .fade-exit {
  opacity: 1;
}
.searchResuts__container .fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.searchResuts__container .TrackCard__toggleTagsBtn {
  background-color: var(--color-trackcard-showall);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}

.searchResuts__container .Trackcard__addToPlaylist {
  padding-top: 2px;
}

@media only screen and (max-width: 1800px) {
  .searchResuts__container .EditTrackCard {
    display: grid;
  }
  .searchResuts__container .EditTrackCard--audio {
    position: absolute;
    right: 20.23rem;
  }
  .searchResuts__container .EditTrackCard--left {
    padding-top: 2.5rem;
  }
}

@media only screen and (max-width: 1700px) {
  .searchResuts__container .TpTc__downloads {
    grid-row: 6 /7 !important;
    grid-column: 1 / -5 !important;
  }

  .searchResuts__container .TpTc__downloads__container {
    flex-direction: row !important;
    justify-content: space-between !important;
    height: unset !important;
  }
  .searchResuts__container .TpTc__downloads__container--button {
    margin-right: 2rem !important;
    min-width: 19rem !important;
    width: 19rem !important;
  }
  .searchResuts__container .TpTc__description {
    margin-top: 0.5rem !important;

    margin-left: 20px !important;
    grid-column: 3 / span 4 !important;
    grid-row: 5 / 6 !important;
  }
}

.TrackPage__Mobile__wrapper--edits {
  flex: 1 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.TrackPage__Mobile__wrapper--headline--container {
  width: 20rem;
}
.TrackPage__Mobile__wrapper--headline {
}

.TrackPage__Mobile__wrapper--edits--content {
  width: 100%;
}

.searchResults__results .TrackCard .queueIcon {
  color: var(--color-white) !important;
}

.searchResults__results .TrackCard .actionMenuSet {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchResults__results .TrackCard .actionMenuSet .sonic_icon_button {
  background-color: transparent;
  padding: 0;
  width: auto;
}

.TrackCard #pButton {
  background-color: transparent;
  scale: 2;
}

.TrackCard [id^="queue"] {
  background-color: transparent;
  font-size: 1.9rem;
  text-align: center;
  float: right;
  margin: 3px 0px;
  cursor: pointer;
  fill: currentColor;
  border: none;
  padding-left: 7%;
  color: var(--color-white);
}

.searchResults__results .TrackCard .cs_edit_btn {
  padding: 5px 10px !important;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid var(--color-primary) !important;
  color: var(--color-primary);
  border-radius: 18px !important;
  background-color: transparent;
  width: 150px;
  font-size: 1.6rem !important;
}

.searchResults__results .TrackCard .actionMenuSet {
  width: 100% !important;
  gap: 5px;
  padding-bottom: 10px;
}

.searchResults__results .TrackCard .Trackcard__SS_menu svg {
  width: 27px !important;
}

.searchResults__results .TrackCard .actionMenuIcons .MuiSvgIcon-root {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 15px !important;
  width: 27px !important;
  height: 27px !important;
  display: grid;
  place-items: center;
  background-color: red;
}

.searchResults__results .TrackCard [id^="queue"] {
  margin: 0 !important;
  padding: 0 !important;
  width: 25px !important;
  height: 25px !important;
  display: grid;
  place-items: center;
}
.searchResults__results .TrackCard [id^="queue"] .queueIcon {
  font-size: 20px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.searchResults__results .TrackCard .downloadImgContainer {
  width: 15px !important;
  height: 25px !important;
  display: grid;
  place-items: center;
}

.searchResults__results .TrackCard .downloadImgContainer svg {
  margin: 0 !important;
  padding: 0 !important;
}
