.browse-container {
  /*   overflow-y: hidden;
    overflow-x: hidden; */
  max-width: 100vw;
  max-width: 100%;

  background-color: var(--color-bg);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 30vh 70vh;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      9,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  -ms-grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start]
    repeat(9, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
    minmax(6rem, 1fr) [full-end];
}

.browse-header {
  width: 100%;
  box-sizing: border-box;
  grid-column: full-start / full-end;
  background-color: var(--color-bg);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-size: cover;
  background-position-y: 41%;
  background-repeat: no-repeat;
  display: grid;
  /*  10.8rem is for the Navbar  */
  grid-template-rows: 10.8rem calc(100vh - 11rem);
}

.browse-navbar {
  background: var(--color-navbar);
  grid-row: 1;
}

.browse-content {
  box-sizing: border-box !important;
  background-color: var(--color-bg) !important;
  grid-column: full-start / full-end;
  grid-row: 2 / -1;
  color: var(--color-white);
  padding: 0 9rem;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  justify-content: center;
  overflow: hidden;
}

/* @media only screen and (max-height: 1150px) {
  .browse-content {
    justify-content: space-evenly !important;
  }
} */

.browse-seperator {
  background-image: -webkit-linear-gradient(
    left,
    var(--color-alternative),
    var(--color-green),
    var(--color-alternative)
  );
  height: 1px !important;
  border: none;
  outline: none;
  position: relative;
}

/*Mobile Version*/

.browse__Mobile-container {
  background-color: var(--color-bg);
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  min-height: 100%;
  max-height: 100%;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns:
    [full-start] 2.5rem [center-start] repeat(
      9,
      [col-start] minmax(min-content, 1fr) [col-end]
    )
    [center-end] 2.5rem [full-end];
}
.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.browse__Mobile-container .browse__Mobile-content {
  justify-content: space-evenly;
}

.browse__Mobile-content {
  box-sizing: border-box !important;
  background-color: var(--color-bg) !important;
  grid-column: full-start / full-end;
  grid-row: 2 / -1;
  color: var(--color-white);
  padding: 0 9rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  overflow: hidden;
}

.browse__loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: landscape) {
  .browse__Mobile-content .track-slide-show-item img {
    width: 15rem;
    height: 15rem;
  }
}

/*Mobile Version End */
