.project-download {
}

.project-download-container {
  margin: 0 auto;
  /* width: 151.2rem;
    height: 104.7rem; */
}

.project-download-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  /* width: 100%; */
}

.project-download .project-title {
  font-size: 2.4rem;
  line-height: 2rem;
  font-weight: 400;
  /* width: 20.8rem;
  height: 2.8rem; */
  margin: 0;
}

.project-download .update-info {
  font-size: 1.6rem;
  color: var(--color-white);
}

.project-download .add-contributors {
  background-color: var(--color-white);
  color: var(--color-bg);
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 4.3rem;
  cursor: pointer;
  width: 17.5rem;
  height: 4.5rem;
  font-size: 1.4rem;
  line-height: 1.2rem;
}

.project-download .content {
  display: flex;
  gap: 2rem;
  /* flex-wrap: wrap; */
}

.project-download .tracks {
  flex: 1;
  border: 0.1rem solid #3d3d3d;
  border-radius: 1.2rem;
  padding: 2rem;
  /* width: 100%;
  min-width: 70rem; */
}

.project-download .tracks p {
  font-size: 1.6rem;
  padding: 5px 10px;
  cursor: pointer;
}

.project-download .project-download-header-left {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.project-download .track {
  /* width: 90rem;
    height: 11rem; */
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid #3d3d3d;
  padding: 1rem;
  margin-bottom: 1rem;
}

.project-download .track-image-wrapper {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  margin-right: 1.5rem;
}

.project-download .track-image-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  z-index: 1;
}

.project-download .track-image-wrapper .play-button .track-image-loader {
  position: relative;
  transform: none;
  left: auto;
  top: auto;
}

.project-download .track-image-loader .lds-default {
  margin: 0;
}

.project-download .track-image {
  width: 8rem;
  height: 8rem;
  border-radius: 0.5rem;
  display: block;
  transition: 0.3s ease;
}

.project-download .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 8rem;
  height: 8rem;
  display: grid;
  place-items: center;
}

.project-download .play-button #pButton.sonic_icon_button {
  background-color: transparent;
  width: auto;
  height: auto;
}

.project-download .track-image-wrapper:hover .play-button,
/* .project-download .track-image-wrapper .play-button, */
.project-download .track-image-wrapper .play-button:has(.sonic_icon_button.track-playing) {
  opacity: 1;
}

.project-download .track-info {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-download .track-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  color: var(--color-white);
  font-weight: normal;
  gap: 10px;
  display: flex;
  align-items: center;
}

.project-download .track-title p {
  white-space: nowrap;
  max-width: 50rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1rem 0;
  padding: 0;
}

.project-download .track-title p:hover {
  color: var(--color-primary);
  /* text-decoration: underline; */
}

.project-download .track-details {
  font-size: 1.4rem;
  color: var(--color-white);
  /* text-align: center; */
  line-height: 1.2rem;
}

.project-download .track-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* margin-top: -5rem; */
  flex-direction: column;
}

.project-download .trackbutton {
  display: flex;
  gap: 10px;
  align-items: center;
}

.project-download .credits-info {
  font-size: 1.4rem;
  color: var(--color-white);
  /* margin-right: 1rem; */
}

.project-download .credits-count {
  font-weight: 700;
}

.project-download .delete-btn {
  background: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

.project-download .sidebar {
  /* width: 37rem;
  height: 21.6rem; */
  width: 100%;
  max-width: 37rem;
}

.project-download .credit-card {
  border-radius: 1rem;
  padding: 2rem;
  border: 0.1rem solid #3d3d3d;
}

.project-download .credit-card h2 {
  /* width: 34.3rem; */
  /* height: 2.9rem; */
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.project-download .total-credits {
  font-size: 2.4rem;
  line-height: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
  /* width: 10.8rem; */
  height: 1.2rem;
}

.project-download .wallet-credits {
  font-size: 1.4rem;
  color: var(--color-white);
  /* margin-bottom: 2rem; */
  display: flex;
  padding-top: 1.5rem;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.project-download .request-credits {
  color: var(--color-primary) !important;
  background: none;
  border: none;
  padding: 0;
  font-size: 1.4rem;
  cursor: pointer;
}

.project-download .request-credits.sonicButton.filled {
  background-color: transparent;
}

.project-download .download-btn {
  width: 100%;
  height: 5rem;
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: none;
  padding: 1rem;
  border-radius: 4.3rem;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.2rem;
}

.project-download .media-type {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.project-download .media-type label {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
}

.project-download .media-type input[type="radio"] {
  margin-right: 0.5rem;
}

.project-download .no_filtered_data_text {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: var(--color-white);
}

.project-download .less-credits {
  font-size: 1.4rem;
  color: red;
  /* margin-bottom: 2rem; */
  display: flex;
  padding-top: 1.5rem;
  justify-content: space-between;
}

.project-download .track-delete-icon {
  cursor: pointer;
}

.download-confirmation-dialog .projectDownload_btnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 40px;
}

.project-download .projectDownload_cancelButton {
  background-color: var(--color-white) !important;
  color: var(--color-bg) !important;
}

.project-download .download-btn:disabled {
  background-color: #9e9e9e;
  cursor: not-allowed;
  pointer-events: all !important;
  border: 1px solid transparent;
}

#track_menu_dropdown .MuiMenu-paper .MuiMenuItem-root {
  /* font-size: 16px !important; */
  /* color: var(--color-white); */
  width: 100% !important;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 1rem 0rem !important;
}

#track_menu_dropdown .MuiMenu-paper .MuiDivider-root {
  width: 90% !important;
  margin: 0 auto;
}

#track_menu_dropdown .MuiMenu-paper .MuiMenuItem-root:not(:last-child) {
  border-bottom: 1px solid #4d4d4d;
}

/* #track_menu_dropdown .MuiPaper-root {
  margin-left: 265px;
  margin-top: 10px;
} */

#track_menu_dropdown.sonic_menu_container .MuiList-root.MuiMenu-list {
  padding: 10px 15px;
}

@media print {
  .project-download .content {
    flex-wrap: wrap !important;
    flex-direction: column-reverse !important;
  }
}

@media screen and (max-width: 1480px) {
  .project-download .track-title p {
    max-width: 275px;
  }
}

@media screen and (max-width: 1000px) {
  .project-download .track-title p {
    max-width: 300px;
  }

  .project-download .content {
    flex-wrap: wrap !important;
    flex-direction: column-reverse !important;
  }
}
