.CuratedPlaylistSlideShow_container {
  padding: 0 0 0 30px;
}

.CuratedPlaylistSlideShow_skeleton {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CuratedPlaylistSlideShow_container .slick-track {
  display: block !important;
}

.CuratedPlaylistSlider_title {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0;
  color: var(--color-white);
}

.CuratedPlaylistSlideShow_container .slider-playlist {
  --picture-size: 20rem !important;
  width: 600px;
  /* display: flex;
  gap: 15px; */
}

.CuratedPlaylistSlideShow_container .PlayListCoverPicture__Loading {
  width: 20rem !important;
  height: 20rem !important;
}

.CuratedPlaylistSlideShow_container .slick-prev:before {
  content: "" !important;
  background: url("../../../static/slick-prev-svg.svg") no-repeat !important;
  display: block !important;
  width: 20px !important;
  height: 20px !important;
}

.CuratedPlaylistSlideShow_container .slick-next:before {
  content: "" !important;
  background: url("../../../static/slick-next-svg.svg") no-repeat !important;
  display: block !important;
  width: 20px !important;
  height: 20px !important;
}

.CuratedPlaylistSlideShow_container .slider-playlist .slick-arrow {
  top: 105px !important;
  background-color: transparent !important;
  padding: 0 !important;
}

.CuratedPlaylistSlideShow_container .slick-prev {
  left: -40px !important;
}

.CuratedPlaylistSlideShow_container .slick-next {
  right: -40px !important;
}

.CuratedPlaylistSlideShow_container .slick-disabled {
  opacity: 0 !important;
}

.CuratedPlaylistSlideShow_container
  .track-slide-show-item-content-playlist
  .track-slide-show-item-title-playlist {
  display: block;
  display: -webkit-box;
  max-width: 185px;
  /* height: 40px; */
  margin: 0px auto 0 auto;
  font-size: 1.6rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.CuratedPlaylistSlideShow_container
  .track-slide-show-item-content-playlist
  .PlayListCoverPicture__container {
  /* height: var(--picture-size) !important;
  width: var(--picture-size) !important; */
  height: 200px;
  width: 200px;

  border-radius: 25px;
  overflow: hidden;
}

/* .CuratedPlaylistSlideShow_container .PlayListCoverPicture {
  height: var(--picture-size) !important;
  width: var(--picture-size) !important;
} */

@media only screen and (max-width: 1000px) {
  .CuratedPlaylistSlideShow_container
    .track-slide-show-item-content-playlist
    .track-slide-show-item-title-playlist {
    height: 30px !important;
  }
}
