.SSAndCSAccessDeniedPage_loader_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SSAndCSAccessDeniedPage_container {
  display: grid;
  box-sizing: border-box;
  grid-template-rows: 80px calc(100vh - 80px);
  grid-template-columns: 100%;
}

.SSAndCSAccessDeniedPage_Description {
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10%;
}

.SSAndCSAccessDeniedPage_Description--wrapper {
  width: 70%;
}

.SSAndCSAccessDeniedPage_Description--heading h2 {
  font-size: 2.2rem;
  font-family: inherit;
  line-height: 1.22222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 1rem;
}
