.ss_input_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-top: 10px; */
}

.ss_input_label {
  margin-bottom: 0px;
  color: var(--color-default-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  text-align: left;
}

.ss_input {
  height: 45px;
  border-radius: 25px;
  border: 1px solid var(--color-white);
  padding: 0px 20px;
  font-size: 1.6rem;
  background-color: transparent;
  color: var(--color-text-primary) !important;
}

.ss_input.s {
  height: 28px;
}

.ss_input.filled {
  background-color: var(--color-primary);
  color: var(--color-black) !important;
  border: 1px solid transparent;
}

.ss_error_msg {
  margin: 8px 0;
  font-size: 1.4rem;
  color: red;
}

.ss_input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-white) !important;
}

.ss_input:-webkit-autofill,
.ss_input:-webkit-autofill:hover,
.ss_input:-webkit-autofill:focus,
.ss_input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-bg) inset !important;
}

.shell .ss_input.invalid,
.shell .ss_input:required:invalid,
.ss_input.invalid,
.ss_input:required:invalid {
  border: 1px solid red !important;
}

.shell .ss_input:-webkit-autofill,
.shell .ss_input:-webkit-autofill:hover,
.shell .ss_input:-webkit-autofill:focus,
.shell .ss_input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-gray-2) inset !important;
}

.shell .ss_input,
.shell .ss_textarea {
  border: 1px solid var(--color-gray-2) !important;
  background-color: var(--color-gray-2) !important;
}

.ss_link_input_container {
  width: 100%;
}

.ss_link_input_wrapper {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid var(--color-default-border); /* pink border */
  border-radius: 50px;
  padding: 0 0 0 1rem;
  height: 50px;
  position: relative;
}

.link-input-icon {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
  flex-shrink: 0;
}

.ss_link_input_wrapper input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  color: var(--color-text-primary);
  padding: 0 1rem;
  font-size: 1.4rem;
}

.link-search-btn:hover {
  background-color:var(--color-primary);
}
