.sonic_search_container {
  background-color: transparent;
  border: 1px solid var(--color-default-border);
  border-radius: 50px;
  width: 100%;
  height: 50px;
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
}

.sonic_search_container .sonic_search {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 45px;
  color: var(--color-text-primary);
  font-size: 16px;
  padding: 20px;
}

.sonic_search_container .sonic_search:focus-visible {
  border: none;
  outline: none;
}

.sonic_search_container .search_icon {
  background-color: transparent;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 43%,
      #fff 45%,
      #fff 55%,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      #fff 45%,
      #fff 55%,
      transparent 57%,
      transparent 100%
    );
}
