.sonic_icon_button[icon="DownloadCart"] {
  background-color: transparent;
  padding: 0;
  width: fit-content;
}

.sonic_icon_button[icon="DownloadCart"] svg {
  fill: var(--color-white);
}

.WebNavbar--anchor.activeNavlink .sonic_icon_button[icon="DownloadCart"] svg {
  fill: var(--color-primary);
}

.download_cart_detail_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.download_cart_count {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.download_cart_count_badge {
  position: absolute;
  top: -4px;
  right: 8px;
  scale: 0.8;
}
@media only screen and (max-width: 1100px) {
  .download_cart_count_badge {
    top: 2px;
    right: 2px;
  }
}
