.amp .V3AuthLayout .brand_logo {
  width: auto !important;
  height: auto !important;
  max-height: 100% !important;
}

.amp .navbar__container img {
  max-width: 50px !important;
}

.amp .sonic_icon_button .MuiSvgIcon-root,
.sonicspace.amp .MuiSnackbarContent-root .MuiSvgIcon-root {
  color: #000 !important;
}

.amp .Comment_Icon svg {
  stroke: #000 !important;
  fill: #000 !important;
}

.amp .SonicCheckbox_container:has(input:checked):after {
  /* border: solid var(--color-white) !important; */
  border-width: 0 2px 2px 0 !important;
}

.amp .sonic-rangeslider-wrapper .slideCtrLbl {
  color: #000 !important;
}

.amp .browseV2_container .submitInput svg path {
  fill: #000 !important;
}


.amp #navitems .navitem .WebNavbar--anchor.activeNavlink, .navitem--active, #navitems .navitem .WebNavbar--anchor:hover {
 color: #2765FF !important;

}