.visualRef-container {
  width: 95%;
  color: var(--color-white);
  height: 570px;
}

.visualRef-container .visualRef-header {
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--color-white);
}
.visualRef-container .visualRef-subtitle {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-white);
  margin-top: 14px;
  margin-bottom: 20px;
}

.visualRef-container .sonic_file_input_container label[for="sonic_file_input"] {
  background-color: var(--color-white);
  color: var(--color-card);
}
.visualRef-container label[for="sonic_file_input"] {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  gap: 10px;
  padding: 12px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  cursor: pointer;
  width: 955px;
  color: var(--color-white);
  box-sizing: border-box;
  font-size: 1.6rem;
}
.visualRef-container .SonicInputLabel {
  margin-bottom: 10px;
}
.visualRef-container .visualRef-preview-grid {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 40px;
  gap: 40px;
  max-height: 344px;
  overflow-y: auto;
  padding-right: 8px;
}

.visualRef-container .visualRef-thumbnail {
  width: 213px;
  height: 153px;
  border-radius: 10px;
  overflow: hidden;
  background: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visualRef-container .thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.visualRef-container .report_form_error {
  color: var(--color-error);
  padding: 10px 0px 5px;
  font-size: 14px;
  margin: 0;
}

/* .visualRef-container #remove_sonic_file {
  display: none;
} */
.visualRef-container .thumbnail-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.visualRef-container .grid-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
}
