.BackButton_container {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 3rem;
  font-size: 1.6rem;
  width: 5.6rem;
  height: 3rem;
  cursor: pointer;
  font-family: var(--font-primary) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BackButton_container svg {
  fill: #fff;
  transform: rotate(90deg);
  width: 2.2rem;
  height: 2.2rem;
}
