.chart-component-conrainer{
     width: 100%;
      height: 400px;
      background-color: var(--color-bg-light);
      border-radius: 5px;

     
}
.chart-component-conrainer canvas{
     padding: clamp(2rem,3vw,4rem);
}


.custom-legend {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    color: #f0f0f0;
    font-size: 14px;
}

.legend-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}