.basketPopup_container {
  position: absolute;
  right: 20px;
  top: 35px;
  width: 250px;
  height: auto;
  max-height: 350px;
  background-color: black;
  z-index: 1000;
  border: 1px solid var(--color-white);
  border-radius: 10px;
  z-index: 100000000 !important;
  display: none;
  cursor: default;
}

.basketPopup_header {
  color: var(--color-white);
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.basketPopup_subheader {
  color: var(--color-white);
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
}

.basket_track_container {
  margin-top: 10px;
  height: auto;
  overflow: auto;
  margin-right: 10px;
  max-height: 200px;
}

.basket_track_item {
  display: flex;
  font-size: 14px;
  padding: 2px 10px;
  color: var(--color-white);
  line-height: 25px;
  position: relative;
}

.basket_track_name {
  flex: 15;
  border-bottom: 1px solid var(--color-card-lighter);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
  margin-left: 10px;
}

.basket_track_type {
  flex: 4;
  border-bottom: 1px solid var(--color-card-lighter);
  padding-left: 15px;
}

.basketPopup_checkout_btn {
  height: 30px;
  padding: 0px 10px;
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-size: 14px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  width: 180px;
  margin: 20px auto;
}

@media only screen and (max-width: 950px) {
  .basketPopup_container {
    visibility: hidden;
  }
}
