.MFAConfigureModal_content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.MFA_config_note {
  font-size: 16px;
  margin: -5px 0 0px;
}

.MFA_configure_qr_code {
  width: 200px;
  height: 200px;
  margin: 20px 0 30px 0;
  border: 1px solid var(--color-white);
}

.MFA_configure_code_input {
  width: 160px;
  margin: 15px auto 0;
}

.MFA_configure_dialog_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.MFA_configure_dialog_btn_container .spinnerContainer .lds-default {
  margin: 0 !important;
  scale: 0.5 !important;
  width: 10px !important;
  height: 10px !important;
  top: -14px !important;
  left: -12px !important;
}

.MFA_configure_error_msg {
  margin: 8px 0 0;
  font-size: 1.4rem;
  color: red;
}
