.ai-search-container {
  width: 100% !important;
  margin: auto;
  color: var(--color-white);
  /* background-color:var(--color-card) ; */
  /* padding: 20px; */
  border-radius: 10px;
  box-sizing: border-box;
}

.ai-search-container .st-container__custSearch {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-bottom: 15px;
}
.ai-search-container .st-container__custSearch .st-container__custSearch_lp {
  flex: 4;
}

.ai-search-container .st-container__custSearch .st-container__custSearch_rp {
  flex: 6;
}

.ai-search-container .st-input-search {
  color: var(--color-white);
  width: 100%;
  background: none;
  padding: 0px;
  height: 24px;
  border: 0px solid var(--color-white);
  padding-left: 0;
  outline: 0px;
  margin-left: 0px;
  font-size: 14px;
}
.ai-search-container .librarySearchIcon,
.ai-search-container .spotifySearchIcon {
  position: absolute;
  top: 14px;
  left: 18px;
  width: 20px;
}

.ai-search-container .st-input-search::placeholder {
  color: var(--color-white);
  opacity: 1;
}

.ai-search-container .st-input-search:-ms-input-placeholder {
  color: ffffff;
}

.ai-search-container .st-input-search::-ms-input-placeholder {
  color: ffffff;
}

.ai-search-container .st-similar-autosearch table {
  border-collapse: collapse;
  font-size: 14px;
}
.ai-search-container .st-similar-autosearch .table-dark.table-bordered {
  border: 0;
}
.ai-search-container .st-similar-autosearch .table-dark {
  color: var(--color-white);
  background-color: var(--color-card);
}
.ai-search-container .st-similar-autosearch .table-dark th {
  font-family: var(--font-primary);
  background-color: #2c2f37;
}
.ai-search-container .st-similar-autosearch .table-dark td,
.ai-search-container .st-similar-autosearch .table-dark th,
.ai-search-container .st-similar-autosearch .table-dark thead th {
  border-color: #32383e;
}
.ai-search-container .st-similar-autosearch .table-bordered thead td,
.ai-search-container .st-similar-autosearch .table-bordered thead th {
  border-bottom-width: 2px;
}
.ai-search-container .st-similar-autosearch .table-bordered th {
  border: 1px solid #000000 !important;
}
.ai-search-container .st-similar-autosearch .table-bordered td {
  border-top: 1px solid #2f3033;
  border-bottom: 1px solid #444445;
}
.ai-search-container .st-similar-autosearch .table td,
.ai-search-container .st-similar-autosearch .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
  vertical-align: middle;
}
.ai-search-container .st-similar-autosearch .table th:first-child,
.ai-search-container .st-similar-autosearch .table td:first-child {
  text-align: left;
  width: 200px;
}
.ai-search-container .st-similar-autosearch .table-dark td,
.ai-search-container .st-similar-autosearch .table-dark th,
.ai-search-container .st-similar-autosearch .table-dark thead th {
  border-color: #32383e;
}

/* @media (min-width: 1100px) {
    .ai-search-container {
     width: 100%;
    }
  } */

.ai-search-container .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.ai-search-container .mtop10 {
  margin-top: 10px;
}
.ai-search-container .mtop20 {
  margin-top: 20px;
}
.ai-search-container .mtop30 {
  margin-top: 30px;
}
.ai-search-container .mtop40 {
  margin-top: 40px;
}
.ai-search-container .mtop50 {
  margin-top: 50px;
}
.ai-search-container .pbot50 {
  padding-bottom: 50px;
}
.ai-search-container {
  /* max-width: 1280px; */
  width: 100%;
  margin: auto;
  color: var(--color-white);
}
.ai-search-container .ai-search-container-inner {
  /* padding: 10px; */
  margin-bottom: 20px;
}

.ai-search-container .st-similar-autosearch table tbody {
  display: block;
  width: 100%;
}

.ai-search-container .st-filter-rp-inner .st-similar-autosearch .autoTr td {
  border: none !important;
}

/* .ai-search-container .ai-search-container-inner h2 {
    font-size: 22px;
    line-height: 15px;
    margin-bottom: 30px;
  } */

.ai-search-container .st-filter-header-wrapper {
  background-color: var(--color-card);
  padding: 20px;
  border-radius: 1rem;
}

.ai-search-container .st-filter-header {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.ai-search-container .ai-search-container-inner .st-filter-lp {
  /* flex: 1; */
  display: flex;
  gap: 1rem;
  align-items: center;
}

.ai-search-container .ai-search-container-inner .st-filter-cp {
  width: 100%;
  margin-top: 2.5rem;
}

.ai-search-container .ai-search-container-inner .st-filter-rp {
  /* flex: 1; */
  display: flex;
  gap: 1rem;
  align-items: center;
}
.ai-search-container .ai-search-container-inner .st-filter-para {
  margin-bottom: 0rem;
  margin-top: 0px;
  display: block;
  font-size: 1.6rem;
  text-align: left;
  width: fit-content;
}
.ai-search-container .ai-search-container-inner .st-filter-btn {
  font-size: 1.4rem;
  color: var(--color-white);
  display: inline-block;
  width: 12.5rem;
  float: left;
  border: 0px;
  outline: 0px;
  background: none;
  border: 1px solid var(--color-white);
  padding: 7px 10px;
  height: 3.4rem;
  cursor: pointer;
}
.ai-search-container .ai-search-container-inner .st-btn-spotify.active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
}
.ai-search-container .ai-search-container-inner .st-btn-library.active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
}
.ai-search-container .ai-search-container-inner .st-btn-spotify {
  border-right: 0px;
  -webkit-border-top-left-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-bottomleft: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  /* background: url(../../static/spotify_icon.svg) no-repeat center center; */
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.ai-search-container .ai-search-container-inner .st-btn-spotify svg {
  width: 22px;
  height: 22px;
}

.ai-search-container .ai-search-container-inner .st-btn-spotify svg path {
  fill: var(--color-white);
}
.ai-search-container
  .ai-search-container-inner
  .st-filter-btn.st-btn-spotify.active
  svg {
  width: 22px;
  height: 22px;
}
.ai-search-container .ai-search-container-inner .st-btn-library {
  border-left: 0px;
  -webkit-border-top-right-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  -moz-border-radius-topright: 40px;
  -moz-border-radius-bottomright: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.ai-search-container .ai-search-container-inner .st-filter-lp-inner {
  display: inline-block;
  /* width: 40%; */
  /* width: 100%; */
  /* float: left; */
}
.ai-search-container .ai-search-container-inner .st-filter-rp-inner {
  display: inline-block;
  /* width: 60%; */
  /* width: 100%;
    float: left; */
}
.ai-search-container .ai-search-container-inner .st-filter-rp-inner .st-inner {
  margin: 0px;
}
.ai-search-container
  .ai-search-container-inner
  .st-filter-rp-inner
  .st-input-search {
  font-size: 1.4rem;
  color: var(--color-white);
  width: 100%;
  box-sizing: border-box;
  /* background: url(st-search-icon.svg) 15px center no-repeat; */
  padding: 7px 10px 7px 50px !important;
  height: 50px;
  border: 0px;
  border: 1px solid var(--color-white);
  outline: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 40px;
}
.ai-search-container
  .ai-search-container-inner
  .st-filter-rp-inner
  .st-input-search::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-white);
  opacity: 1; /* Firefox */
}

.ai-search-container
  .ai-search-container-inner
  .st-filter-rp-inner
  .st-input-search:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-white);
}

.ai-search-container
  .ai-search-container-inner
  .st-filter-rp-inner
  .st-input-search::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-white);
}

.ai-search-container .ai-search-container-inner table {
  border-collapse: collapse;
  font-size: 1.4rem;
}
.ai-search-container .ai-search-container-inner .table-dark.table-bordered {
  border: 0;
}
.ai-search-container .ai-search-container-inner .table-dark {
  color: var(--color-white);
  background-color: var(--color-card);
  border-radius: 1rem;
  overflow: hidden;
}
.ai-search-container .ai-search-container-inner .table-dark th {
  font-family: var(--font-primary);
  background-color: var(--color-card);
}
.ai-search-container .ai-search-container-inner .table-dark td,
.ai-search-container .ai-search-container-inner .table-dark th,
.ai-search-container .ai-search-container-inner .table-dark thead th {
  border-color: #32383e;
}
.ai-search-container .ai-search-container-inner .table-bordered thead td,
.ai-search-container .ai-search-container-inner .table-bordered thead th {
  border-bottom-width: 2px;
}
.ai-search-container .ai-search-container-inner .table-bordered th {
  border: 1px solid #000000 !important;
}
.ai-search-container .ai-search-container-inner .table-bordered td {
  border-top: 1px solid #2f3033;
  border-bottom: 1px solid #444445;
}
.ai-search-container .ai-search-container-inner .table td,
.ai-search-container .ai-search-container-inner .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
  vertical-align: middle;
}
.ai-search-container .ai-search-container-inner .table th:first-child,
.ai-search-container .ai-search-container-inner .table td:first-child {
  text-align: left;
  width: 200px;
}
.ai-search-container .ai-search-container-inner .table-dark td,
.ai-search-container .ai-search-container-inner .table-dark th,
.ai-search-container .ai-search-container-inner .table-dark thead th {
  border-color: #32383e;
}

.ai-search-container
  .ai-search-container-inner
  .table-dark
  tbody
  tr
  td:first-child {
  border-right: 1px solid var(--color-bg);
}

.ai-search-container .ai-search-container-inner table .st-tbl-logo-text-holder {
  display: table;
  position: relative;
}
.ai-search-container
  .ai-search-container-inner
  table
  .st-tbl-logo-text-holder
  .st-tbl-text,
.ai-search-container
  .ai-search-container-inner
  table
  .st-tbl-logo-text-holder
  .st-tbl-link {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  color: var(--color-primary);
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}
.ai-search-container .ai-search-container-inner table .st-tbl-logo-holder {
  margin-right: 10px;
}
.ai-search-container .ai-search-container-inner table .st-tbl-logo-holder,
.ai-search-container
  .ai-search-container-inner
  table
  .st-tbl-logo-holder
  .st-tbl-logo {
  display: inline-block;
  width: 50px;
  min-height: 50px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.ai-search-container .ai-search-container-inner table .st-tbl-action {
  width: 150px;
  text-align: center;
}
.ai-search-container
  .ai-search-container-inner
  table
  .st-tbl-action
  .st-btn-action {
  font-family: var(--font-primary);
  border: 0px;
  background: none;
  text-decoration: none;
  cursor: pointer;
}
.ai-search-container
  .ai-search-container-inner
  table
  .st-tbl-action
  .st-btn-action-sep {
  position: relative;
  top: -1px;
  margin: 0px 5px;
}

.ai-search-container .ai-search-container-inner table .st-tbl-sel-1,
.ai-search-container .ai-search-container-inner table .st-tbl-sel-2,
.ai-search-container .ai-search-container-inner table .st-tbl-sel-3 {
  display: inline-block;
  padding: 8px 10px;
  width: auto;
  text-align: center;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
}
.ai-search-container .ai-search-container-inner table .st-tbl-sel-1 {
  background-color: #bbbbbb;
}
.ai-search-container .ai-search-container-inner table .st-tbl-sel-2 {
  background-color: var(--color-primary);
  border: none;
}
.ai-search-container .ai-search-container-inner table .st-tbl-sel-3 {
  background-color: #6ea2ce;
}

.ai-search-container .fade-enter {
  opacity: 0.01;
}
.ai-search-container .fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.ai-search-container .fade-exit {
  opacity: 1;
}
.ai-search-container .fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.ai-search-container .TrackCard__toggleTagsBtn {
  /* background-color: rgba(0, 173, 239, 0.15); */
  background-color: var(--color-trackcard-showall);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 1800px) {
  /*, screen and (max-height: 1200px) {*/
  .ai-search-container .EditTrackCard {
    display: grid;
  }
  .ai-search-container .EditTrackCard--audio {
    position: absolute;
    right: 20.23rem;
  }
  .ai-search-container .EditTrackCard--left {
    padding-top: 2.5rem;
  }
}

/* Mobile Settings */

.ai-search-container .TrackPage__Mobile__wrapper--edits {
  flex: 1 0;
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;

  /*  overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; */
}

.ai-search-container .TrackPage__Mobile__wrapper--headline--container {
  width: 20rem;
}
.ai-search-container .TrackPage__Mobile__wrapper--headline {
  width: auto;
}

.ai-search-container .TrackPage__Mobile__wrapper--edits--content {
  width: 100%;
}

.ai-search-container
  .ai-search-container-inner
  .table-dark
  thead
  th:nth-child(2) {
  width: 8%;
}
.ai-search-container
  .ai-search-container-inner
  .table-dark
  thead
  th:nth-child(3) {
  width: 10%;
}
.ai-search-container
  .ai-search-container-inner
  .table-dark
  thead
  th:nth-child(4) {
  width: 14%;
}
.ai-search-container
  .ai-search-container-inner
  .table-dark
  thead
  th:nth-child(5) {
  width: 10%;
}
.ai-search-container
  .ai-search-container-inner
  .table-dark
  thead
  th:nth-child(6) {
  width: 15%;
}
/* .ai-search-container .ai-search-container-inner .table-dark td:nth-child(6) {
    word-break: break-word;
  } */

.ai-search-container .st-similar-autosearch .autoTr {
  width: 96%;
  display: block;
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: 5px;
  border-color: var(--color-gray);
  cursor: pointer;
  min-height: 50px;
  position: relative;
}

.ai-search-container
  .st-similar-autosearch
  .autoTr
  .search_results_card_info_container:hover {
  color: var(--color-primary);
}

/* .searchRowImgLoader {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: var(--color-gray);
    top: 5px;
  }
  
  .searchRowImgLoader .lds-default {
    margin: -7px;
    transform: scale(0.6);
  } */

.ai-search-container .st-tbl-text.trackTitle,
.ai-search-container .st-tbl-text.trackArtist {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 380px;
  white-space: nowrap;
}

.ai-search-container .st-tbl-text.trackTitle {
  display: block;
  font-size: 1.6rem;
  padding-bottom: 2px;
}

.ai-search-container .st-tbl-text.trackArtist {
  display: block;
  font-size: 1.5rem;
  padding-top: 2px;
}

.ai-search-container
  .st-similar-autosearch
  .search_results_card_info_container {
  width: 400px;
}

.ai-search-container
  .st-similar-autosearch
  .search_results_card_info_container
  .search_results_card_title {
  font-size: 1.7rem;
  font-weight: normal !important;
}

.ai-search-container
  .st-similar-autosearch
  .search_results_card_info_container
  .search_results_card_subtitle {
  font-size: 1.5rem;
}

.ai-search-container .st-similar-autosearch .autoTable {
  padding: 10px;
  position: absolute;
  background-color: var(--color-card);
  margin: 0 10px;
  margin: 5px 0 0px 0;
  display: block;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  z-index: 3;
}

.ai-search-container .st-similar-autosearch a,
.ai-search-container .st-similar-autosearch span {
  text-decoration: none;
  color: var(--color-card-light);
  font-size: 1.6rem;
  cursor: pointer;
}

.ai-search-container .st-similar-autosearch {
  position: relative;
}

.ai-search-container .sptactive {
  /* font-weight: bold; */
  font-weight: normal;
}

@media only screen and (max-width: 1350px) {
  .ai-search-container
    .st-similar-autosearch
    .search_results_card_info_container {
    width: 300px;
  }
}

@media only screen and (max-width: 1050px) {
  .ai-search-container
    .st-similar-autosearch
    .search_results_card_info_container {
    width: 200px;
  }
}
