:root {
  --wpp-button-secondary-icon-color-disabled: var(--color-alternative);
  --wpp-button-secondary-bg-color-active: var(--color-primary-600);
}

.wpp-button::part(button) {
  background-color: var(--color-primary);
}

.wpp-icon::part(icon) {
  color: var(--color-primary);
}

.wpp-action-button::part(wpp-icon) {
  color: var(--color-primary);
}
