.TrackcardV2 {
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: transparent;
  color: var(--color-white);
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.356); */
  box-shadow: none;
  border-bottom: 1px solid #54565a;
}

.TrackcardV2 .MuiPaper-root.MuiAccordion-root {
  box-shadow: none !important;
  background-color: transparent !important;
  width: 100% !important;
}

.TrackcardV2 .MuiAccordionSummary-root {
  padding: 0 !important;
}

.TrackcardV2 #pButton {
  background-color: transparent;
  padding: 0;
  width: 5.6rem;
  margin-right: 30px;
}
.TrackcardV2 #pButton svg {
  width: 4.2rem;
}
.TrackcardV2 .TrackcardV2__main {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin: 0.5rem 0;
}

.TrackcardV2 .TrackcardV2__Left {
  width: 100px;
}

.TrackcardV2 .circular-reveal,
.TrackcardV2 .circular-reveal img {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
}

.TrackcardV2 .favBtn {
  position: relative;
  fill: var(--color-white);
  cursor: pointer;
  font-size: 2.2rem;
  width: 2.2rem;
  padding: 0;
  background-color: transparent;
}

.TrackcardV2 .favBtn svg {
  fill: var(--color-white);
}

.TrackcardV2__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 80px;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.TrackcardV2__title__container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
  min-height: 35px;
}

.TrackcardV2__item__title {
  margin: 0rem !important;
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-white);
  font-weight: normal;
  flex: 1;
  width: 0px;
  align-self: flex-start;
}
.TrackcardV2 .TrackcardV2__item__title:hover {
  color: var(--color-primary);
  cursor: default;
  /* text-decoration: underline; */
}

.TrackcardV2_lower_block {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 10px;
  justify-content: space-between;
}

.TrackcardV2__player .TrackCard__audio .TrackCard__time {
  display: none;
}

.TrackcardV2__duration {
  font-size: 1.6rem;
  color: var(--color-white);
  width: 75px;
}
.TrackcardV2__tags__expandIcon {
  width: 20px;
  transform: rotate(0deg);
  color: var(--color-white);
  transition: all 0.3s;
  scale: 1.2;
  cursor: pointer;
}

.TrackcardV2 .TrackcardV2__download_menu:disabled {
  opacity: 0.5 !important;
}

.TrackcardV2 .downloadImgContainer {
  width: 20px !important;
}

.TrackcardV2__tags__expandIcon.expanded {
  transform: rotate(180deg);
}

.TrackcardV2 .TrackcardV2__item__tags__expansion__panel {
  width: 100%;
}

.TrackcardV2__item__tags {
  box-sizing: border-box;
  width: 100% !important;
  padding: 1rem 1rem 1rem 2rem !important;
}

.TrackcardV2__info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  margin: 1rem 0rem 1rem 0.5rem;
}

.TrackcardV2 .MuiAccordionDetails-root {
  padding: 0 0 0 100px !important;
  width: calc(100% - 100px);
}

.TrackcardV2__item__tags--divider .TrackcardV2__item__tags_container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.TrackcardV2__item__tags--divider h4 {
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 400;
  margin: 20px 0;
}

/* .TrackcardV2__item__tags span {
  display: inline-block !important;
  line-height: 1 !important;
  padding: 0.7rem 1rem !important;
  cursor: default;
  border: 1px solid #ccc !important;
  border-radius: 18px !important;
  margin-bottom: 0.5rem !important;
  margin-right: 0.5rem !important;
  font-size: 1.3rem !important;
} */

.TrackcardV2__item__tags .taxonomy__tags_container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.TrackcardV2__item__tags .taxonomy__tags_container .sonic_chip {
  text-transform: capitalize;
  color: var(--color-white) !important;
  border: none !important;
}

.TrackcardV2__item__tags
  .taxonomy__tags_container
  .sonic_chip.tag_amp_allmood_ids {
  background-color: var(--color-bubbletag-amp_allmood_ids-bg) !important;
  color: var(--color-bubbletag-amp_mainmood_ids-text) !important;
}
.TrackcardV2__item__tags
  .taxonomy__tags_container
  .sonic_chip.tag_soniclogo_allmood_ids {
  background-color: var(--color-bubbletag-amp_allmood_ids-bg) !important;
  color: var(--color-bubbletag-amp_mainmood_ids-text) !important;
}

.TrackcardV2__item__tags .taxonomy__tags_container .sonic_chip.tag_genre {
  background-color: var(--color-bubbletag-genre-bg) !important;
  color: var(--color-bubbletag-genre-text) !important;
}

.TrackcardV2__item__tags .taxonomy__tags_container .sonic_chip.tag_tempo {
  background-color: var(--color-bubbletag-tempo-bg) !important;
  color: var(--color-bubbletag-tempo-text) !important;
}

.TrackcardV2__item__tags .taxonomy__tags_container .sonic_chip.tag_key {
  background-color: var(--color-bubbletag-key-bg) !important;
  text-transform: lowercase;
}

.TrackcardV2__item__tags .taxonomy__tags_container .sonic_chip.instrument_ids {
  background-color: var(--color-bubbletag-instrument-bg) !important;
}

.TrackcardV2__toggleTagsBtn {
  background-color: var(--color-TrackcardV2-showall);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}

.TrackcardV2 .queueIcon {
  color: var(--color-white) !important;
}

.TrackcardV2 .cs_edit_btn {
  padding: 4px 12px !important;
  cursor: pointer;
  border: 1px solid var(--color-primary) !important;
  color: var(--color-primary);
  border-radius: 18px !important;
  background-color: transparent;
  width: auto;
  font-size: 1.4rem !important;
  /* width: 105px; */
}

.TrackcardV2 .TrackcardV2__actionBtns .sonic_icon_button {
  background-color: transparent !important;
  width: 30px !important;
  padding: 0 !important;
}

.TrackcardV2 .actionMenuSet {
  gap: 15px;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 190px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.TrackcardV2 .PlayListTitleList__Extra--actions {
  position: relative !important;
  top: 1px !important ;
  width: 25px;
  cursor: pointer !important;
}

.TrackcardV2 .PlayListTitleList__Extra--actions svg {
  width: 25px;
  font-size: 20px;
}

@media only screen and (max-width: 1024px) {
  /* .TrackcardV2 .circular-reveal,
  .TrackcardV2 .circular-reveal img,
  .TrackcardV2__cover {
    width: 100px !important;
    height: 100px !important;
  } */
  /* .TrackcardV2 .actionMenuSet {
    gap: 5px;
    min-width: 160px;
  }
  .TrackcardV2 .TrackcardV2__info,
  .TrackcardV2_lower_block {
    gap: 5px;
  }
  .TrackcardV2 .lds-default {
    margin: 10px;
  } */
}
