.moodProfileBlock {
  display: grid;
  width: 100%;
  font-family: var(--font-primary);
  margin-bottom: 2rem;
}

.cyDescription {
  font-size: 1.8rem;
  padding: 0 25px;
  color: var(--color-white);
  margin-top: 20px;
  line-height: 22px;
}

.cyDescription span {
  word-break: break-word;
}

.radarBlock {
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
}

.radarBlock text {
  fill: var(--color-white);
  font-size: 1rem;
  font-family: var(--font-primary);
}

.radarBlock .radarChartV2,
.radarBlock .radarChart {
  width: 40% !important;
  max-width: 500px !important;
}

.radarBlock .radarChart svg {
  width: 95% !important;
}

.TrackPage__container .radarBlock.sonicLogoMainMoodTagsChart {
  margin: 5px auto 15px;
  display: flex;
  align-items: center;
}

.radarBlock .radarChartV2 canvas,
.radarBlock .pieChart canvas {
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
}

.radarBlock .bar {
  width: 20% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radarBlock .pieChart {
  width: 40% !important;
  /* pointer-events: none !important; */
}

.radarBlock path {
  fill: var(--color-primary);
  fill-opacity: 1;
}
.radarBlock circle {
  fill: var(--color-primary);
  stroke: var(--color-gray);
  stroke-width: 1px;
}

.LineBlock svg {
  font-family: var(--font-primary);
}
.LineBlock .line {
  stroke-width: 2;
  fill: none;
}

.LineBlock .axis path {
  stroke: black;
}

.LineBlock .text {
  font-size: 12px;
}

.LineBlock .title-text {
  font-size: 12px;
}

.apexcharts-tooltip-title,
.apexcharts-tooltip-text {
  font-size: 1.4rem !important;
  font-family: var(--font-primary) !important;
  color: var(--color-white) !important;
  background-color: var(--color-card) !important;
}

.apexcharts-tooltip {
  background-color: var(--color-card) !important;
  border: none !important;
}

.apexcharts-legend-text {
  font-size: 1.5rem !important;
  font-family: var(--font-primary) !important;
  color: var(--color-alternative) !important;
}

.columnChart {
  width: 100%;
  margin: auto;
}

.ringLables {
  display: none;
}

.columnChart .apexcharts-datalabels {
  transform: translateY(20px) !important;
}

.columnChart .apexcharts-data-labels rect {
  min-width: 100px;
}

.columnChart .apexcharts-svg {
  height: 450px !important;
}

.columnChart,
.apexcharts-datalabel {
  letter-spacing: normal;
  font-size: 1.6rem !important;
  font-family: var(--font-primary) !important;
  font-variant: oldstyle-nums;
  font-weight: normal;
}

.apexcharts-text,
.apexcharts-xaxis-label {
  letter-spacing: normal;
  font-size: 1.2rem !important;
  font-family: var(--font-primary) !important;
  font-variant: oldstyle-nums;
  font-weight: normal;
}

.cyaniteGraphs {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.cyaniteGraphs .lineChart {
  width: 1210px;
  margin: auto;
  margin-top: 10px !important;
}

.Cyanite_AudioPlayer {
  width: 1200px;

  margin: auto;
}

.Cyanite_AudioPlayer .TrackCard__audio_tctp {
  margin-left: -56px;
}

.playButton__container_tctp {
}

.audioEditorBlock {
  margin: 0 auto 0 auto;
  display: block;
  /* height: 35px; */
  position: relative;
  width: 1200px;
  overflow: hidden;
}

.cyaniteGraphsV2 .audioEditorBlock {
  margin: 15px auto 0 30px !important;
}
.cyaniteGraphsV2 .audioEditorBlock.Loading {
  margin: 13px auto 0 30px !important;
}

#waveform {
  width: 1202px;
  margin: 0 0 20px 0;
  opacity: 0;
}

.audioEditorBlock .audTrim,
.audioEditorBlock .audTrimDownload,
.audioEditorBlock .audTrimApply,
.audioEditorBlock .audTrimCancel {
  float: right;
  width: 140px;
}

.audioEditorBlock .audTrimApply {
  display: none;
}

.audioEditorBlock .audTrimDownload {
  display: none;
}

.audioEditorBlock .audTrimCancel {
  display: none;
  float: left;
}

#downloadTrimMsg {
  float: right;
  font-size: 1.7rem;
  height: 35px;
  line-height: 58px;
  color: var(--color-gray);
  padding-right: 10px;
}

.wavesurfer-handle {
  width: 5px !important;
  height: 35px !important;
  bottom: 0px;
  top: 0px;
  margin: auto;
}

wave {
  /* border: solid 1px black; */
  width: 100%;
}

/* .audioEditorBlock .audioTrimLoading {
  position: absolute;
  float: right;
  width: 64px;
  height: 35px;
  right: 120px;
  bottom: 160px;
  transform: scale(0.6);
} */
.audioEditorBlock .audioTrimLoading {
  position: absolute;
  float: right;
  width: 54px;
  height: 44px;
  right: 160px;
  bottom: 15px;
  transform: scale(0.6);
}

.TrackPage__container .TrackPage__wrapper .MuiAccordion-rounded {
  background-color: transparent;
  box-shadow: none;
}

.TrackPage__container .TrackPage__wrapper .MuiAccordionSummary-root {
  /* background-color: var(--color-secondary); */
  /* border-top: solid 0px var(--color-white); */
  /* border-radius: 0px 0px 0px 0px; */
  /* width: max-content; */
}

.TrackPage__container
  .TrackPage__wrapper
  .MuiAccordionSummary-content
  .MuiTypography-body1 {
  font-size: 2rem;
  font-family: var(--font-primary);
  color: var(--color-white);
  font-weight: bold;
}

.TrackPage__container
  .TrackPage__wrapper
  .MuiAccordionSummary-root.Mui-expanded {
  min-height: 50px;
}

.TrackPage__container .TrackPage__wrapper .MuiAccordion-root.Mui-expanded {
  margin: 0px;
  /* margin-bottom: 20px; */
}

.TrackPage__container .TrackPage__wrapper .MuiAccordionSummary-content {
  margin: 0px;
}

.TrackPage__container
  .TrackPage__wrapper
  .MuiAccordionSummary-content.Mui-expanded {
  margin: 0px;
}

.TrackPage__container .TrackPage__wrapper .MuiAccordionDetails-root {
  border: solid 0px var(--color-default-border);
  padding: 8px 20px 30px;
}

.TrackPage__container .TrackPage__wrapper .MuiCollapse-container {
  background-color: #2c2f37;
}

.cyaniteGraphs .legendContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin: 40px auto auto;
}

.cyaniteGraphs .grid_toggle_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cyaniteGraphs .deselectAllSwitch {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cyaniteGraphsV2 .Cyanite_AudioPlayer #audioplayer_tctp {
  width: calc(100% - 26px);
  margin-left: 20px;
}

/* music pause play for-pre buttons */

.Cyanite_AudioPlayer #audioplayer_tctp .card-spinnerContainer {
  display: none;
}
.Cyanite_AudioPlayer .card-spinnerContainer {
  width: 56px !important;
  height: 30px !important;
}

.Cyanite_AudioPlayer .card-spinnerContainer .lds-default {
  margin: 0 !important;
  scale: 0.8 !important;
  left: -3px !important;
  top: -17px !important;
}

.music_container_trim {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
}

.music_container_trim .forwardBackward {
  border: none;
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 30px;
  cursor: pointer;
  color: var(--color-white);
  border-radius: 50%;
}

.music_container_trim .sonic_icon_button.playPause {
  background-color: transparent;
  padding: 0;
}

.music_container_trim .playPause {
}

@media screen and (max-width: 1550px) {
  .radarBlock .bar {
    scale: 0.8;
  }
}

@media screen and (max-width: 1350px) {
  .radarBlock .bar {
    scale: 0.7;
  }
}

@media screen and (max-width: 1250px) {
  .radarBlock {
    flex-direction: column;
  }
  .radarBlock .radarChartV2,
  .radarBlock .radarChart {
    width: 100% !important;
  }
  .radarBlock .pieChart {
    width: 100% !important;
  }
  .radarBlock .bar {
    scale: 1;
  }
}
