.TpTc__dl-btn {
    flex-grow: 0;
    padding: 1rem 2.5rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.8;
    letter-spacing: 0.015em;
    border-radius: var(--download-button-radius);

    background: rgba(24, 24, 24, 0.7);
    color: var(--font-primary-color);
    -webkit-box-shadow: inset 0 0 0 2px #b3b3b3;
    box-shadow: inset 0 0 0 2px #b3b3b3;
    border: 0;

    max-width: 22rem;
    width: 22rem;
    white-space: normal;
    margin: 2rem;
}

.dl-btn--disabled {
    color: #b3b3b3 !important;
}

.TpTc__dl-btn:hover {
    cursor: pointer;
}
