.pageNumbers {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: medium;
  color: var(--color-white);
}

.pageNumbers li {
  padding: 10px;
  border: 1px solid var(--color-primary);
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: var(--color-white);
  font-size: 1.5rem;
  cursor: pointer;
}

.pageNumbers li button:hover {
  /* background-color: var(--color-white); */
  color: var(--color-white);
}

.pageNumbers li button:focus {
  outline: none;
}
