.BasketDownloadDialog .MuiPaper-root {
  background-color: var(--color-white) !important;
  max-width: 1920px !important;
  width: auto !important;
  border-radius: 4px !important;
}

.BasketDownloadDialog .MuiPaper-root {
  background-color: var(--color-white) !important;
  max-width: 1920px !important;
  width: auto !important;
  border-radius: 4px !important;
}

.BasketDownloadDialog .mb_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BasketDownloadDialog .mb_Dialog_Content {
  margin-top: -2%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.BasketDownloadDialog .mb_SubmitDownload_title {
  padding: 1.2rem 1.2rem 2.5rem !important;

  display: flex;
  justify-content: center;
  align-items: center;
}
.BasketDownloadDialog .mb_h3 {
  font-size: 2.8rem;
  font-family: var(--font-primary);
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 0;
  padding-bottom: 0.035em;
  margin-top: 10px;
  font-weight: bold;
}

.BasketDownloadDialog .mb_h4 {
  font-size: 1.8rem;
  font-family: var(--font-primary);
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.BasketDownloadDialog .mb_padding {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.BasketDownloadDialog .mb_SubmitDownload_form {
  margin: 2.5% 2.5% 0.5% 2.5%;
  width: 60%;
  height: 100%;
}

.BasketDownloadDialog .mb_input_container {
  width: 100%;
  height: 6.5rem;
  margin: 0.5rem 0px 5px 0px;
  box-sizing: border-box;
}

.BasketDownloadDialog .mb_input {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 1.4rem;
  font-family: var(--font-primary);
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 0.00912em;
  padding-left: 1.4rem;
  padding-bottom: 0.15788em;
  background: var(--color-white);
  border-radius: 1px;
  border: 1px solid #999;
  color: #333;
  height: 3.5rem;

  outline: 0;
  float: left;
  width: 100%;
}

.BasketDownloadDialog .mb_error {
  color: red;
}

.BasketDownloadDialog
  .mb_input_container
  .MuiOutlinedInput-root.Mui-error
  .MuiOutlinedInput-notchedOutline,
.BasketDownloadDialog .mb_input_container #country .Mui-focused {
  border: 1px solid #999;
}

.BasketDownloadDialog
  .mb_input_container
  .MuiFormControl-root.MuiTextField-root {
  /* width: calc(100% + 17px); */
  width: 94%;
  height: 40px;
}

.BasketDownloadDialog .datePicker .MuiOutlinedInput-root {
  border-radius: 0px !important;
  font-size: 13px !important;
  color: #999 !important;
}

.BasketDownloadDialog .MuiOutlinedInput-input {
  padding: 12px 14px;
  color: #333;
}

.BasketDownloadDialog .mb_input_container .MuiFormHelperText-root.Mui-error {
  color: #f44336;
  font-size: 14px;
  margin: 1px 0px;
}

.BasketDownloadDialog .mb_input_container .MuiIconButton-root {
  position: relative;
  left: 15px;
}

.MuiTypography-root.MuiPickersMonth-root.MuiTypography-subtitle1,
.MuiPickersYear-root,
.MuiPickersToolbarText-toolbarBtnSelected.MuiTypography-subtitle1 {
  font-size: 14px !important;
}

.MuiPickersModal-dialogRoot
  .MuiDialogActions-root.MuiDialogActions-spacing
  .MuiButtonBase-root {
  font-size: 14px;
  background-color: var(--color-primary) !important;
  color: var(--color-white);
  height: 36px;
  border-radius: 25px;
}

.MuiPickersYear-root:focus {
  color: var(--color-white);
}

.MuiPickersYear-yearSelected,
.MuiPickersMonth-monthSelected {
  font-size: 16px;
  color: var(--color-primary) !important;
  margin: 0;
}

.MuiPickersToolbar-toolbar {
  background-color: var(--color-primary) !important;
}

.BasketDownloadDialog .mb_input_checkboxes {
  height: auto !important;
}

.BasketDownloadDialog .checkboxes_title {
  font-weight: 600;
}

.BasketDownloadDialog .datePicker {
  outline: none;
  box-shadow: none;
  position: relative;
  bottom: 2px !important;
}

.BasketDownloadDialog .datePicker .MuiInputBase-input {
  border: 1px solid #999;
  padding: 11.5px 14px !important;
}

.BasketDownloadDialog .datePicker .MuiOutlinedInput-notchedOutline {
  border: 1px solid #999 !important;
}

.BasketDownloadDialog #date-picker-dialog-helper-text {
  display: none !important;
}

.MuiDialog-paper.MuiPickersModal-dialogRoot {
  background-color: white !important;
  border: none !important;
  font-size: 16px;
}
