.HomePageV3Header_container {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  /* margin-bottom: 5rem; */
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  position: relative;
  top: -26px;
  margin-bottom: -15px;
}
.homePageV3_title {
  font-size: 4rem;
  line-height: 4.2rem;
  margin: 10px 0 5px;
}
.homePageV3_title .highlight {
  color: var(--color-texthighlight, var(--color-primary));
}
.homePageV3_subtitle {
  font-size: 2.5rem;
  font-weight: 400;
  display: block;
  margin-bottom: 15px;
}

.HomePageV3Header_right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.HomePageV3Header_link_container {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}

.HomePageV3Header_link_text {
  color: var(--color-text-primary);
  font-size: 2.2rem;
}

.HomePageV3Header_container .SmartInputBox .smart-input-wrapper {
  position: relative;
  padding: 0px 4px 0px 15px;
  /* border: 1px solid var(--color-default-border, var(--color-text-secondary) ); */
  border-radius: 40px;
  background-color: var(--color-default-card, var(--color-hover-disable)) !important;
  color: var(--color-text-primary, var(--color-default-white));
  width: 100%;
  box-sizing: border-box;
  transition: border 0.3s ease;
  min-height: 54px;
  align-items: center;
  display: flex;
  max-width: 100%;
}

.HomePageV3Header_container .AISearchButtons {
  display: flex;
  flex: 1 1;
  background-color: var(--color-default-card,var(--color-hover-disable)) !important;
  padding: 4px;
  border-radius: 40px;
  /* gap: 10px; */
  width: 334px;
  height: 49px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
}

.HomePageV3Header_container .HomePageV3Header_top {
  display: flex;
}

.HomePageV3Header_container .toggleBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 18px;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: var(--color-text-primary);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  height: 41px;
  flex: 1 1;
}

.HomePageV3Header_container .toggleBtn .SimilarityIcon {
  width: 22px;
  height: 22px;
}
/* .HomePageV3Header_container .toggleBtn .SimilarityIcon path {
  fill: var(--color-text-primary);
}
.HomePageV3Header_container .toggleBtn svg path {
  stroke: var(--color-text-primary);
}
.HomePageV3Header_container .selectedBtn  .SimilarityIcon path {
  fill: var(--color-default-black);
}
.HomePageV3Header_container .selectedBtn  svg path {
  stroke: var(--color-default-black);
} */
.HomePageV3Header_container .selectedBtn {
  background-color: var(--color-default-white);
  color: var(--color-default-black);
  flex: 1 1;
}

.HomePageV3Header_top .linkIconbtn {
  background-color: var(--color-hover-light);
  border-radius: 40px;
  width: 49px;
  height: 49px;
  border: none;
  cursor: pointer;
}
.linkWrapper {
  position: relative;
}

.HomePage-Button-Link-Container {
  display: flex;
  gap: 10px;
}

.HomePageV3Header_top .LinkModal {
  position: absolute;
  top: 54px; /* appears just below the 49px button */
  left: 0;
  background-color: var(--color-default-card,  var(--color-hover-disable));
  border-radius: 12px;
  padding: 0.75rem 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 999;
  width: 157px;
}

.HomePageV3Header_top .LinkModal .modalIconbtn {
  background: none;
  border: none;
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.2s ease-in-out;
}

.HomePageV3Header_top .LinkModal .linkIconbtn:hover {
  background-color: var(--color-hover-light, var(--color-hover-disable));
}
