.similarSearchBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: auto !important;
  height: 25px !important;
  padding: 0;
}

.similarSearchBtn svg {
  fill: var(--color-white);
  stroke: var(--color-white);
}

.SimilaritySearchMenu_buttonText_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  height: 50px;
  background-color: var(--color-default-card);
  border-radius: 30px;
  cursor: pointer;
}

.SimilaritySearchMenu_buttonText {
  font-size: 1.6rem;
  padding: 10px 10px 10px 25px;
}

.SimilaritySearchMenu_buttonText_container .sonic_icon_button {
  background-color: transparent;
  padding: 5px;
}

@media only screen and (max-width: 1000px) {
  .SimilaritySearchMenu_buttonText_container {
    height: 40px;
    gap: 0rem;
  }

  .SimilaritySearchMenu_buttonText {
    padding: 10px 0px 10px 15px;
  }
  .SimilaritySearchMenu_buttonText_container .sonic_icon_button {
    padding: 5px 15px;
  }
}
