/* .sonic_menu_container .MuiPaper-root.MuiMenu-paper {
  background-color: var(--color-bg) !important;
  border-radius: 15px !important;
  border: 1px solid var(--color-white) !important;
  transform: scale(0.9, 0.9) translateY(5%) translateX(18%) !important;
}

.sonic_menu_container .MuiList-root.MuiMenu-list {
  width: 200px !important;
  max-height: 250px !important;
} */
